[2014-06-23 18:35] developingchris opened #62 "Specifying multiple bindings on the same port and ip"
I'm trying to setup a site that has 2 80 and 443 bindings, for a total of 4.

<fqdn>.beta.a.com
www.beta.a.com

This way we can have it load balanced and singularly accessed.
I keep getting syntax errors in the iis_site resource doing this. Either I'm missing something or it would be nice to have an iis_binding resource.  I've created one but wonder if this is just me brute forcing it to work, whi

[2014-07-17 13:50] rlaveycal opened #66 "iis_app doesn't set updated_by_last_action on add action"
Could someone add
[code]
after the call to ``` shell_out!(cmd) ``` in the add action of app.rb

[2014-07-17 13:55] rlaveycal opened #67 "Could iis_app support setting the Requires SSL flag ?"
Could support for setting the Require SSL setting be added:

http://technet.microsoft.com/en-us/library/cc732367%28v=ws.10%29.aspx

Thanks

[2014-07-21 20:14] aaronrl opened #69 "iis_config resource is not idempotent"
The IIS_config resource is not idempotent. It will try to apply the same config twice, even if that config is already true. This could result in non-zero output on subsequent runs in the event that a config has already been applied, even though there is nothing wrong with the system state.

Text copied from:
https://tickets.opscode.com/browse/COOK-4359

Example that will fail when client is ran >1

[2014-07-23 16:02] e100 opened #71 "site LWRP current_resource.exists is sometimes incorrect (when there are a large number of bindings)"
There seems to be a bug in appcmd.exe that causes the output to fail when a site has a large number of bindings.

Some discussion of this appcmd bug here:
http://serverfault.com/questions/313339/appcmd-bugged-with-more-than-70ish-bindings

To avoid this problem the cookbook should replace the appcmd "list site" command with an alternate method to obtain the same data.

[2014-07-28 18:45] tbenz9 opened #74 "feature request - allow appcmd.exe unlock config"
It would be awesome to get some additional functionality around the appcmd.exe utility in this cookbook.  For example, `appcmd.exe unlock config` etc.

I recognize this is a community cookbook, but I don't think I have the expertise to code it, hence the ticket.

[2014-09-18 21:09] dvanbuskirk opened #76 "pool provider prints app pool password"
https://github.com/opscode-cookbooks/iis/blob/master/providers/pool.rb#L89

The password is printed in chef debug mode.  This password needs to remain secure and out of sight regardless of log level.

[2014-09-23 20:53] mdw233 opened #77 "Many of the Attributes won't be applied when adding a new app pool."
See https://github.com/opscode-cookbooks/iis/blob/master/providers/pool.rb#L42

The Attributes in this section of the iis_pool resource are not applied when adding a new app pool, unless you also specify the :config action.  I'd expect those attributed to be applied without having to specify the config option.

The following gist illustrates the issue with an example: https://gist.github.com/mdw23

[2014-10-22 15:17] EasyAsABC123 opened #84 ":config on most providers causes an app_pool recycle every 30 minutes"
Example:

[code]

because :config calls functions every single time without validating change we end up recycling the app_pool everytime this runs (30 minutes with chef-client).

I have fixed this on my fork https://github.com/EasyAsABC123/iis using:

  cmd_current_values = "#{appcmd} list apppool \"#{@new_resource.pool_name}\" /config:\* /xml"

I'll put in a pull request once my vdir changes are

[2014-11-06 09:44] jeppenejsum opened #88 "When changing site attributes, they are not applied if the site already exist"
I would expect the site to have the attributes I specify, even if the site existed already

[2014-11-14 05:15] kbarry-x opened #89 "iis_config fails with certain commands"
I'd love someone else to verify this:

[code]

getting this error
[code]

Running the command it says it ran works......
[code]

[2014-12-19 08:04] #84 closed, assigned to nobody

[2014-12-22 17:02] endakenny opened #95 "Compile error in app.rb when creating single app pool and website"
Hi Folks

My cookbook only contains a single recipe with the following content and a single change to the metadata.rb file to depend on the iis cookbook 3.0.0
-----------------------------------------------------------------
iis_pool "Atlas" do
    pool_name "Atlas"
    runtime_version '4.0'
    pipeline_mode :Integrated
    thirty_two_bit :false
    private_mem 2097152
    worker_idle_timeout '00

[2015-01-02 10:47] endakenny commented on #95
@EasyAsABC123  - in my attempted to test you branch of the iis cookbook (https://github.com/EasyAsABC123/iis/tree/hotfix_helper-class) -  cannot upload it to my chef server.
I get this error:

PS C:\chef> knife cookbook upload iis-hotfix_helper-class --cookbook-path PATH:C:\chef\cookbooks
ERROR: Could not find cookbook iis-hotfix_helper-class in your cookbook path, skipping it
ERROR: Failed to upl

[2015-01-02 13:10] EasyAsABC123 commented on #95
Simply run knife cookbook upload iis --force

We want to make sure it is the latest code

Justin Schuhmann

[2015-01-02 14:14] christrotter commented on #95
I tried running the IIS hotfix branch you linked, was still getting 'cleanpath' errors.  Tried updating to chef-client 12.0.3-1, back to a ruby segfault that comes up just after loading cookbooks.  Sooo...

Anything I should be doing differently?  What other info can I provide to help?

[2015-01-02 14:16] EasyAsABC123 commented on #95
yeah the issue there is that you need chef-client > 12 for Chef::Util::PathHelper to work.  I’m about to could backwards compatibility.  it really isn’t that much code then you can test on chef-client 11.x.x
-- 
Justin Schuhmann

On January 2, 2015 at 9:14:52 AM, christrotter (notifications@github.com) wrote:

I tried running the IIS hotfix branch you linked, was still getting 'cleanpath' errors.

[2015-01-02 14:25] endakenny commented on #95
@EasyAsABC123  - im not trying to upload the iis cookbook - im uploading the iis-hotfix_helper-class. it appears there is an issue uploading this cookbook only. i get the same error when trying to to use the --force option:

PS C:\chef> knife cookbook upload iis-hotfix_helper-class --force
ERROR: Could not find cookbook iis-hotfix_helper-class in your cookbook path, skipping it
ERROR: Failed to up

[2015-01-02 14:27] EasyAsABC123 commented on #95
rename that folder to iis, in the metabase file in that folder you’ll see the cookbook name is IIS.  this is what knife is looking at when you try to upload it.  That’s why you are getting the below error when trying to upload it.  
-- 
Justin Schuhmann

On January 2, 2015 at 9:25:42 AM, endakenny (notifications@github.com) wrote:

@EasyAsABC123 - im not trying to upload the iis cookbook - im uplo

[2015-01-02 14:54] EasyAsABC123 commented on #95
@endakenny I just checked in the new backwards compatibility changes to that branch.  I'm testing them myself.  Initial test with chef-client 12 worked, i'll be testing chef-client 11.x.x now.

[2015-01-02 15:17] EasyAsABC123 commented on #95
new patch (3.0.3) worked in:
chef-client 
11.12.4-1
11.12.8-1
11.12.8-2
11.14.2-1(failed) NoMethodError: undefined method `cleanpath` new patch required to fix.
12.0.3-1
-- 
Justin Schuhmann

On January 2, 2015 at 9:27:09 AM, Justin Schuhmann (jmschu02@gmail.com) wrote:

rename that folder to iis, in the metabase file in that folder you’ll see the cookbook name is IIS.  this is what knife is looki

[2015-01-02 15:21] EasyAsABC123 commented on #95
@endakenny
new path (3.0.4) worked in:
11.12.4-1
11.12.8-1
11.12.8-2
11.14.2-1
12.0.3-1

So if you don’t mind grabbing the latest from https://github.com/EasyAsABC123/iis/tree/hotfix_helper-class and putting it in your iis folder to test.
-- 
Justin Schuhmann

On January 2, 2015 at 10:16:54 AM, Justin Schuhmann (jmschu02@gmail.com) wrote:

new patch (3.0.3) worked in:
chef-client 
11.12.4-1
11.12.

[2015-01-02 15:32] christrotter commented on #95
Hm, why only up to 11.14?  (latest available is 11.16.4-1 - still getting cleanpath errors with this)

I'll try 11.14 and update...

[2015-01-02 15:39] EasyAsABC123 commented on #95
@christrotter because I manually have to update each version to test.  I’ll update to 11.16.4-1 and see what happens.

3.0.4 worked on 11.16.4-1 for me

this is the tests i’m running:
[code]

-- 
Justin Schuhmann

On January 2, 2015 at 10:32:25 AM, christrotter (notifications@github.com) wrote:

Hm, why only up to 11.14? (latest available is 11.16.4-1 - still getting cleanpath errors with this)

I

[2015-01-02 15:42] christrotter commented on #95
Aha, I had re-downloaded that branch...but didn't refresh the page so the zip was still 3.0.2.  Refreshed, downloaded 3.0.4, and no longer getting cleanpath errors (I've moved to chef-client 11.14).

I'll do more testing and let you know.

[2015-01-02 15:43] EasyAsABC123 commented on #95
@christrotter thanks, yeah with this type of development you'll see i apply new changes rapidly.  :) thanks again.

[2015-01-02 15:57] christrotter commented on #95
I'd say things are working, except for the bindings are still broken (using your syntax).  I'll open a separate issue on that to keep things somewhat organized.

[2015-01-02 16:00] EasyAsABC123 commented on #95
@christrotter using `bindings "http/10.12.0.136:80:www.domain.com,https/*:443:www.domain.com"` it is still failing for you? i tested that...i think, basically it is `"protocol/ip address:port:domain,protocol/ip address:port:domain,protocol/ip address:port:domain"` list goes on comma separated.  feel free to post it in a separate issue and i'll work on it there.

[2015-01-02 16:03] christrotter opened #98 "iis_site bindings are not working, documentation could use some examples"
There was some discussion in this issue: https://github.com/opscode-cookbooks/iis/issues/95

Version info:
1. chef-server 12.0.1
2. client: chef-windows-11.14.2-1.windows.msi
3. Node is 2008R2.
4. I'm using the IIS 3.0.4 hotfix branch...https://github.com/EasyAsABC123/iis/tree/hotfix_helper-class

Here is what I'm trying:
[code]

Here's what I get:
[code]

Other pieces of my recipe: (these come be

[2015-01-02 16:06] christrotter commented on #98
Oh yeah, and if I leave out the second bindings piece (https) like this:
[code]

I get this:
[code]

[2015-01-02 16:16] christrotter commented on #98
Realized your dev/iis readme was updated with examples, so copied those:
[code]

[code]

[2015-01-02 17:06] EasyAsABC123 commented on #98
Running chef-client `11.14.2-1` using chef-client -z for testing, iis@3.0.5
Windows Server 2012r2 x64

bindings seem to work now, please verify
remember to grab latest, same branch

[2015-01-02 17:10] christrotter commented on #98
Working!!  Very nicely done, sir.  Let me know if you need any other testing done, I'm in your debt!

[2015-01-02 17:12] EasyAsABC123 commented on #98
happy to hear it, just going to work with @btm to get this pull request moved in and I think i've got 99% of the issues resolved.  Thanks to all your testing, it is greatly appreciated.  Sorry I had some bugs on the bindings part didn't mean to make it seem more confusing than it was.

Have a good one.

[2015-01-02 17:13] EasyAsABC123 commented on #95
Appears to be resolved #96

[2015-01-02 20:39] christrotter commented on #77
I'm attempting to use the iis_pool attributes, not having any luck with the user/pass settings, but not getting any errors, either.

Using:
1. chef-server 12.0.1
2. chef-client 11.14.2-1
3. node is Win2008R2
4. IIS is 3.0.5 from EasyAsABC123's hotfix branch

[code]

I also tried variants - no errors, but does not apply, either.
[code]

Any ideas?

[2015-01-02 21:13] EasyAsABC123 commented on #77
@christrotter appears to be a bug introduced in #91 that made this feature not work at all in `:add` or `:config`, please get iis@3.0.6 from my hotfix branch.  this issue should be resolved, also verify other settings are working.

[2015-01-05 11:24] endakenny commented on #95
@EasyAsABC123 - I have made progress - thanks for your help. The cookbook works for me for a site and and app pool. Now im trying to use the iis_vdir resource which is the main reason im evaluating the new version of the iis cookbook. Im seeing odd behaviour where a resource will not work if the indentation is too many spaces (should i log a seperate issue for this?). That can be overcome by adjus

[2015-01-05 11:28] endakenny commented on #95
# For the iis_vdir resource - here is what i declared:
## Resource Declaration:
---------------------
### In C:/chef/.chef/local-mode-cache/cache/cookbooks/testing-new-iis-cookbook/recipes/default.rb

 61: iis_vdir 'Testfu Site/' do
 62: action :add
 63: #application_name 'Testfu Site'
 64: path '/Content/Test'
 65: physical_path "C:\\inetpub\\wwwroot\\testfu\\Content"
 66: end
 67:

[2015-01-05 11:28] #95 closed

[2015-01-05 14:04] EasyAsABC123 commented on #95
Make sure to leave this issue open until the pull request is accepted.

You just removed the # in front of application name right? # are comments in ruby so you weren't passing an application name.  Perhaps I should validate that you pass something there.

Justin Schuhmann

[2015-01-05 15:06] EasyAsABC123 commented on #77
any news on this @christrotter ?

[2015-01-05 15:59] christrotter commented on #77
Will test it out today, sorry for the delay.

[2015-01-05 16:04] EasyAsABC123 commented on #77
@christrotter please don't be sorry, just making sure this is all cleaned up for everyone so that I can pursue the pull request.  Thanks for your hard work and testing, without it this new version would never see release status.

[2015-01-05 16:08] endakenny commented on #95
@EasyAsABC123  - yes i know that the application_name is commented out  - that is intentional - I tried to use this before i tried the above but i was getting an error to say it doesn't exist. Should i have expected that to work then? (i tried it but then figured the error was quite definitive)

# Resource in recipe:

    Resource Declaration:
    ---------------------
     In C:/chef/.chef/local-

[2015-01-05 16:19] christrotter commented on #77
So it's working, but not for domain names.  I removed both the site and appPool, tried again - this worked!  So maybe the code isn't allowing for changing an existing username?

Code I tried with first: (was leftover from earlier testing)
[code]

Code changed to: (added in "domain\\")
[code]

Doing some functional testing now...

[2015-01-05 16:30] EasyAsABC123 commented on #95
@endakenny grab iis@3.0.7 from the hotfix branch, it fixes this issue

as a sidenote this is the iis_vdir definition (i updated readme)

[code]

[2015-01-05 16:39] endakenny commented on #95
Thanks - im trying that now. About the indentation issues
# Issue
Im seeing odd behaviour where a resource will not work if the indentation is too many spaces

shall i open a new issue for it?

[2015-01-05 16:41] EasyAsABC123 commented on #95
@endakenny can you provide an example?  I don't exactly understand what you mean, there is nothing unique about iis and indentation.  Is this a chef issue?

[2015-01-05 16:43] endakenny commented on #95
@EasyAsABC123  - excellent , thank you.  Now i can create virtual directories. Im not to clear on whats differnt from what i did(posted above) Does the iis_vdir value('Testfu Site/') have to be the same as the application_name value('Testfu Site/') for it work?

[2015-01-05 16:53] christrotter commented on #77
Yeah, looks like it's working.  Thanks again!  I'll open a new issue if something else comes up.

[2015-01-05 16:54] endakenny commented on #95
@EasyAsABC123. The basic functionality is now working for me, i can create sites, app pools and virtual directories (Hallelujah!). Forget about the indentation - i was having a nightmare on Friday and attributed some errors to indentation. Everything works now with iis branch 3.0.7. Thanks for your help. Now i need to check it for compatibility with my large cookbook that uses iis and then i can a

[2015-01-05 16:55] EasyAsABC123 commented on #95
No you don't have to pass application_name if you are passing it in the top as the `name` attribute.

Sorry for that confusion, it should work the same either way.

[2015-01-05 16:55] EasyAsABC123 commented on #95
@endakenny  sounds good let me know if another issue occurs

[2015-01-05 16:56] EasyAsABC123 commented on #77
@christrotter testing username changing, not sure what that might be.

[2015-01-05 17:23] EasyAsABC123 opened #99 "Identity Set to blank instead of ApplicationPoolIdentity"
Issue with recent patch iis@3.0.5

[2015-01-05 17:23] EasyAsABC123 opened #100 "vdir continually tries to add itself"
[code]

[2015-01-05 17:34] endakenny commented on #100
@EasyAsABC123  - just encountered this myself now - unfortunately its a show stopper for me. Looking forward to having a fix for this one.

[2015-01-05 17:38] EasyAsABC123 commented on #100
resolved #96

[2015-01-05 17:38] EasyAsABC123 commented on #99
resolved #96

[2015-01-05 17:39] EasyAsABC123 commented on #100
@endakenny should be resolved in iis@3.0.8

[2015-01-05 18:43] EasyAsABC123 commented on #100
@endakenny did this resolve the issue for you as well?

[2015-01-06 12:04] endakenny opened #101 "Cant add virtual directory to application(as distinct from web site)"
Adding a virtual directory now works for me - for example this resource works without issue:

*iis_vdir 'Testfu Site/' do
	action :add
	path '/Content'
	physical_path "C:\\inetpub\\wwwroot\\testfu\\Content"
end*

 However when i try to add a virtual directory beneath an application as follows()where the application is simply called '1':

*iis_vdir 'Testfu Site/1/' do
	action :add
	path '/Content'

[2015-01-06 17:07] EasyAsABC123 commented on #101
@endakenny you are correct, thanks for finding this, working on a fix as I type this.  In the future please add @EasyAsABC123 so that i'll get an email notifying me of the bug.

[2015-01-06 17:22] endakenny commented on #101
@EasyAsABC123  - yep  - will do in future - wasnt sure of the the division of responsibility as it a 'community' cookbook. Thanks for your help - i have now incorporated many iis_vdir resources into my main cookbook that uses iis and its working like a charm!

[2015-01-06 17:31] EasyAsABC123 commented on #101
@endakenny sounds good, I personally am making sure that v3.0.x is released.  This means that bugs should at least mention me.  Someone else might provide a fix, but i'd like to be notified.

Testing the fix now

[2015-01-06 17:35] EasyAsABC123 commented on #101
Fixed pushed to https://github.com/EasyAsABC123/iis/tree/hotfix_helper-class iis@3.0.9

[2015-01-06 17:41] EasyAsABC123 commented on #101
resolved #96

[2015-01-07 17:27] endakenny commented on #101
@EasyAsABC123  - excellent - i have incorporated this into my cookbook and all works well. I owe you one!

[2015-01-07 17:39] EasyAsABC123 commented on #101
@endkenny awesome news, let me know if you find any other issues so we can resolve them as quickly as possible.

Justin Schuhmann

[2015-01-07 18:32] EasyAsABC123 commented on #77
@christrotter doesn't appear to be a bug, when doing Domain Name change only you won't notice a difference when looking at the iis settings manually.

[2015-01-07 18:59] christrotter commented on #77
Great, thanks for checking.  I think we're good!

[2015-01-13 14:47] academy-jtran opened #103 "mod_management on 2012r2 requires dism /all flag"
https://github.com/opscode-cookbooks/iis/pull/102

Please see above pull request

[2015-01-14 15:53] #98 closed

[2015-01-14 15:53] #99 closed

[2015-01-14 15:53] #100 closed

[2015-01-14 15:53] #101 closed

[2015-01-14 16:16] EasyAsABC123 commented on #74
@smurawski should this be closed?

[2015-01-14 16:16] EasyAsABC123 commented on #69
@smurawski should this be closed?

[2015-01-14 16:17] EasyAsABC123 commented on #62
@christrotter is this still not resolved?

[2015-01-14 16:17] EasyAsABC123 commented on #77
@smurawski should this be closed?

[2015-01-14 16:17] EasyAsABC123 commented on #88
@smurawski should this be closed?

[2015-01-14 16:28] #74 closed

[2015-01-14 16:29] #69 closed

[2015-01-14 16:29] #88 closed

[2015-01-14 16:30] #77 closed

[2015-01-14 16:35] EasyAsABC123 commented on #66
@smurawski this has been resolved since Oct 7, 2014

Resolved #78

[2015-01-14 16:37] endakenny commented on #100
@EasyAsABC123  - yes this is resolved for me in current iis@3.0.9

[2015-01-14 16:41] EasyAsABC123 commented on #100
@endakenny sounds good, the official IIS is now IIS@3.0.10 and includes this fix.  Feel free to start pulling from the master branch https://github.com/opscode-cookbooks/iis as all fixes have been brought into it.

[2015-01-14 16:41] #66 closed

[2015-01-14 16:55] EasyAsABC123 commented on #71
@edmundcraske this is a possibility, however `appcmd` is extremely powerful.  Moving to powershell loses a lot backwards compatibility

[2015-01-14 16:58] christrotter commented on #62
The bindings option is working with the branch you gave me, so I'm good from this issue's point-of-view.

[2015-01-14 17:00] EasyAsABC123 commented on #76
@dvanbuskirk this can definitely be fixed
https://github.com/opscode-cookbooks/iis/blob/master/providers/pool.rb#L222

but do you think hiding the password when running chef in debug mode is wise? what if the issue has something to do with the characters in the password?  It is a simple task to remove the password that is used from the command if it is agreed that for security purposes this should

[2015-01-14 17:06] smurawski commented on #76
It should be fixed, despite IIS configuration being as solid as swiss cheese when it comes to app pool passwords.

Any of the IIS management models return the app pool passwords in clear text. :(
Example - using the WebAdministration module run
```(Get-ItemProperty IIS:\AppPools\SomeAppPoolName).ProcessModel ```

[2015-01-14 17:21] christrotter commented on #76
Wow.  Thanks for that one-liner @smurawski ...crazy.

[2015-01-14 17:32] EasyAsABC123 opened #104 "Compile issue because of encoding on libraries\matcher.rb"
@smurawski
[code]

output of od -c matcher.rb
[code]

`357 273 277` shouldn't be there

apparently multiple files have this now, due to encoding them in Notepad++ as UTF-8

[2015-01-14 17:47] smurawski commented on #104
A clean checkout of the repository seems to work fine for me on a Server 2012 R2 box.  Reclone?

[2015-01-14 17:48] smurawski commented on #104
Are you doing any autocrlf management?

[2015-01-14 18:02] EasyAsABC123 commented on #104
We are digging into this deeper, we run Mac OS X but are going to test this on windows, mac, and linux

[2015-01-14 18:25] smurawski commented on #104
Yeah, it has to be BOM oddness.  Re-saving the file as UTF8 in Sublime on the Mac allowed it to pass knife cookbook test.

[2015-01-14 18:26] smurawski commented on #104
UTF-8 without BOM that is.  The byte order mark is what is causing the blow up.

[2015-01-14 18:34] EasyAsABC123 commented on #104
Yeah it looks like my ~/profile is set to UTF-8 instead of
encoding=utf-8 nobomb

I'll correct this as to avoid this in the future

[2015-01-14 18:34] jeremymv2 commented on #104
Yep, BOM is the culprit.

jeremymiller-> head -c 3 libraries/matcher.rb | od -t x1
0000000    ef  bb  bf
0000003

It was in multiple files.  I put together a couple of command to find recursively and fix:
for f in `find . -type f`; do ret=`head -c 3 $f | od -t x1 | grep -c "ef  bb  bf"`; if [ $ret -eq 1 ]; then awk 'NR==1{sub(/^\xef\xbb\xbf/,"")}1' $f > $f.new; mv $f.new $f; fi; done

Justin, I co

[2015-01-14 18:42] EasyAsABC123 commented on #104
There is a fix I'll submit a pull request shortly

[2015-01-14 19:05] EasyAsABC123 commented on #104
@smurawski pull request added, Jeremy fixed the issue.

[2015-01-14 19:47] #104 closed

[2015-01-15 15:15] EasyAsABC123 commented on #67
@rlaveycal from the link provided:

To require SSL, use the following syntax:
[code]
The variable site | URL is the site, application, virtual directory, or file where you want IIS 7 to require SSL. For example, to require SSL for the Default Web Site, type the following at the command prompt, and then press ENTER:
[code]

To require SSL for the file iisstart.htm on the Default Web Site, type the

[2015-01-15 15:51] EasyAsABC123 commented on #67
@smurawski I believe the above shows this isn't an issue

[2015-01-15 15:55] #67 closed

[2015-01-15 16:03] #62 closed

[2015-01-15 16:08] smurawski commented on #71
@e100 @edmundcraske @EasyAsABC123 I think there is a project working on that alongside this effort.  I'm not in love with appcmd, but the PowerShell story isn't much better.  Honestly, I think we should just go direct to the WMI api.  The problem with PowerShell is, unless it is made a requirement for a Chef install, it is an optional feature (even on the newer OS platforms) and can be uninstalled

[2015-01-16 03:02] e100 commented on #71
This issue is not a blocker for me but it has bit me in the rear a few times when adding Chef to a previously manually configured server.

It is not necessary or desired to replace all appcmd calls, only this particular one.
Sure would be nice if MS would actually fix the bug in appcmd instead of us being forced to workaround their flaw.

[2015-01-16 14:31] endakenny opened #106 "iis_app resource - cant change an applications physical path"
So i would like to use the iis_app resource to change the physical path on disk that the IIS application points to.
If this functionality is there an example of how to do this would be great.
If not could the functionality be added?

Here is how i imagine it would look - with a config action perhaps:

*iis_app "contoso" do
  path "/1"
  application_pool "myAppPool_v1_1"
  physical_path "C:\\contos

[2015-01-16 15:30] endakenny commented on #106
My apologies - i see now that this should covered virtual directory resources rather than the app resources. I discovered what i think is a bug in that. Ill log a new issue

[2015-01-16 15:30] #106 closed

[2015-01-16 15:33] EasyAsABC123 commented on #106
@endakenny I think this is a bug in iis_app, but if you think it is in vdir feel free to post the issue with error.

thanks

[2015-01-16 15:35] EasyAsABC123 commented on #103
@academy-jtran in general you don't need to make an issue that is simply so you can point it to a pull request.  This is where you should be putting errors and examples of how to duplicate those errors.

[2015-01-16 15:50] endakenny opened #107 "iis_vdir - config action appears to ignore the physical_path when constructing appcmd command"
Here is my resource:

*iis_vdir "teste env1 f/" do
	path '/fw7/1/'
	physical_path "C:\\Websites\\teste\\env1\\f\\fw7\\repointed"
	action :config
end*

It returns a message as to say it completed successfully but it did not change the physical path of the application ("teste env1 f/fw7/1").

I would expect that it would produce this appcmd (which when i run manually does change the physical path)
*

[2015-01-16 15:52] endakenny commented on #106
Just posted now(#107) - all the details should be included. In appcmd -
this can be done with 'appcmd set vdir' so i imagine it should logically
sit in the IIS cookbook iis_vdir resource.

On 16 January 2015 at 15:33, Justin Schuhmann <notifications@github.com>
wrote:

[2015-01-16 15:58] EasyAsABC123 commented on #107
@endakenny if you give the `iis_vdir` provider the following command will run

[code]

which in your example should become:
[code]

[2015-01-16 16:02] EasyAsABC123 commented on #107
@endakenny the error appears to be this:

[code]
this should be
[code]

you need the path to end with `/`

[2015-01-16 16:09] endakenny commented on #107
@EasyAsABC123. Perhaps i have confused the issue with how i presented it.

I am aware that i had omitted a trailing slash - see above "Before i got this 'working' i had omitted a trailing slash in the path. This error highlighted the fact that the physicalPath appears to be discarded as the code builds up the appcmd command."
So this was was my second last attempted before i got the recipe to run

[2015-01-16 16:14] EasyAsABC123 commented on #107
@endakenny  I don't see where `/logonMethod:ClearText` is coming from

[2015-01-16 16:23] EasyAsABC123 commented on #107
@endakenny if the error still occurs let me know and i'll write a quick test recipe to see if this is an internal error.

[2015-01-16 16:25] endakenny commented on #107
Well to my mind it is quite correct that in the ruby recipe file its "C:\\Websites\\teste\\env1\\f\\fw7\\repointed" and that this is compiled without the double back slashes (as with this command which does what i want when run manually  - *appcmd.exe set vdir "teste env1 f/fw7/1/" -physicalPath:C:\Websites\teste\env1\f\fw7\repointed /logonMethod:ClearText* )as this is what appcmd(and windows) exp

[2015-01-16 16:25] EasyAsABC123 commented on #107
The command you are getting to run is actually

[code]

which should only run if the logon_method changes

[2015-01-16 16:31] EasyAsABC123 commented on #107
working on a demo recipe right now, give me a few and i'll let you know if i find the issue

[2015-01-16 16:31] endakenny commented on #107
Re logonMethod - its not concerning me right now

On 16 January 2015 at 16:25, Justin Schuhmann <notifications@github.com>
wrote:

[2015-01-16 20:20] EasyAsABC123 commented on #107
can you please test the following branch? https://github.com/EasyAsABC123/iis/tree/hotfix-issue_with_helper this resolved the issue for me but it is a bug in one of the deep helper classes.

[2015-01-19 16:54] endakenny commented on #107
@EasyAsABC123  - thank you - this seems to do the trick. Given that you say its a issue with the deeper helper classes, did you fix it there or work around somehow elsewhere. The reason i ask is because if its the latter then when the helper classes are fixed is it likely to break this version of the iis cookbook and my use of same in my cookbooks?

[2015-01-19 16:54] #107 closed

[2015-01-19 17:20] EasyAsABC123 commented on #107
@endakenny the deeper class was fixed, this resolved a lot of bugs that no one was noticing. Thank you for reporting this one as it led to the others

[2015-01-21 22:39] kenny-evitt opened #109 "Update README for iis_app provider app_name attribute?"
I was able to add a new IIS Application to the existing site "Default Web Site" but I had to enter the name of the *site* as the `app_name` parameter.

[2015-01-22 14:27] kenny-evitt commented on #109
Assuming I'm correct about the change that needs to be made (and that you're using GitHub Issues), would this qualify as an "obvious fix"?

[2015-01-22 15:10] EasyAsABC123 commented on #109
@kenny-evitt i'm confused, in the readme.md it states
[code]

which means exactly what you are saying the app_name is set to the name of the site you are adding it to.

then the virtual path is what allows you to make the actual application name.  Do you want `app_name` renamed to `site_name`?

[2015-01-22 17:41] kenny-evitt commented on #109
@EasyAsABC123 you're right that the documentation is technically correct. And, yes, all else equal, I think `app_name` should be renamed to `site_name`. But I imagine doing so might not be worth it if it breaks dependent recipes.

I was confused because I expected `app_name` to be the name of the *app*, even tho there is no real 'name' of an app in IIS apart from it's 'virtual path'.

Maybe "site"

[2015-01-22 17:53] EasyAsABC123 commented on #109
@kenny-evitt Since no one has a gun to anyone's head to upgrade I'd argue that if it is illogical in its current form it should be changed.

pull request opened, i'll work with @smurawski on Monday if needed.

[2015-01-23 13:55] kenny-evitt commented on #109
@EasyAsABC123 thanks!

[2015-01-23 15:46] kenny-evitt opened #113 "iis_app isn't idempotent"
I want to change the IIS Application Pool that an Application uses. I changed the `application_pool` attribute of my `iis_app` resource but when I run the recipe a FATAL error occurs:

[code]

Here's the same output as above but without the 'column breaks' (for easier searching):

[code]

[2015-01-23 16:06] kenny-evitt opened #114 "iis_pool start action isn't working"
Here's my pool resource in my recipe:

[code]

I was able to start the pool by running *appcmd* from a Windows Command Prompt window:

`appcmd start apppool "DB Necromancer"`

[2015-01-23 16:07] kenny-evitt commented on #114
Actually, disregard this – something is stopping the pool.

[2015-01-26 20:14] #109 closed

[2015-01-26 20:23] EasyAsABC123 commented on #113
@kenny-evitt can you provide the chef recipe?  I'll be digging into this now but would like to make sure this solves the issue.

[2015-01-26 20:27] EasyAsABC123 commented on #113
@kenny-evitt This is actually a simple bug, in the iis_app provider the following line causes the issue:
`regex = /^APP\s\"#{@new_resource.site_name}#{@new_resource.path}\"\s\(applicationPool\:#{@new_resource.application_pool}\)/`

meaning that applications are bound to their application pool.  I'll look into how to resolve this while maintaining the app_pool creation.

[2015-01-26 21:38] EasyAsABC123 opened #115 "iis_app :config bug"
when running `iis_app` action `:config` and there isn't anything to happen it throws the following exception:

[code]

[2015-01-26 21:52] #113 closed

[2015-01-26 21:52] #115 closed

[2015-01-26 22:08] kenny-evitt commented on #113
Thanks!

[2015-01-26 22:13] EasyAsABC123 commented on #113
@kenny-evitt definitely! happy to help and thank you for testing! if you find another issue don't hesitate to tag me @EasyAsABC123 i'll hop on it a lot faster (normally same day)

[2015-01-26 23:54] EasyAsABC123 commented on #71
@e100 do you have a site you can send me via good old metabase explorer export?

If so, I think i might have a fix for this so i'd like to test but 70 bindings is a lot to type up.

[2015-01-27 18:21] e100 commented on #71
I have edited all of my sites bindings to resolve the problem.

Fairly confident that its not 70+ bindings itself that causes this issue, its the totality of the data represented by all the bindings.  Maybe a few bindings with really long hostnames would be sufficient to trigger the issue.

[2015-01-28 21:40] webframp commented on #89
Saw something similar with this snippet in a recipe:

[code]

[code]
This worked the first time it ran. It could just be my ignorance with how appcmd work, but it seems like maybe the resource isn't really idempotent in some cases?

chef-client 11.16.2, iis version 7.5 and iis cookbook version 2.1.6

[2015-01-28 22:27] kbarry-x commented on #89
In '/+"[fileExtension .... ' the "+" means "Add", exit 183 means "This
already exists, you can't add it again"

You can change the expected exit codes to include 183, as its not really a
bad exit, it simply means "I am already there".

On Wed, Jan 28, 2015 at 1:40 PM, Sean Escriva <notifications@github.com>
wrote:

--

Kenneth Barry
TuneIn | Build and Release Engineer
M: 409-673-0544
www.tunein.co

[2015-01-29 00:27] EasyAsABC123 commented on #89
@webframp since you can run anything and everything via iis_config it can't really be idempotent...it is going to run everytime chef-client runs.

[code]
this is all there is to the iis_config provider

@kbarry-x adding 183 doesn't look like a bad idea at all, let me think on it and see if I can find an issue.
one other solution would be make it accept any error (since it just runs anything given

[2015-02-03 15:40] joshburt opened #117 "Derived Attributes Non-Functional in Chef 12+"
Validated that the 11.x Chef clients work fine, and the issue is present only in 12+ environments.

Within the cookbook attribute file: iis/attributes/default.rb

This is currently defined:
`default['iis']['home']       = "#{ENV['WINDIR']}\\System32\\inetsrv"`
`default['iis']['conf_dir']   = "#{iis['home']}\\config"`
`default['iis']['pubroot']    = "#{ENV['SYSTEMDRIVE']}\\inetpub"`
`default['iis']

[2015-02-03 15:53] EasyAsABC123 commented on #117
@joshburt thanks for bringing this to my attention, i've added a pull request...

@smurawski I have to believe this is a real issue as without test-kitchen I do not test chef 12+.  I'll be at chef con attending the test-kitchen training so hopefully we can get this repo better tested.

[2015-02-03 17:47] joshburt commented on #117
Thanks for the quick response!  We're re-factoring code to support a Chef 12 upgrade, and this was definitely something we needed help with.

[2015-02-03 20:45] EasyAsABC123 commented on #117
@joshburt never a problem, as we are working to make iis@3 a release bugs need to be resolved.

[2015-02-04 15:42] seeafish opened #119 "Deprecated RSpec message still showing"
Due to dependencies, five deprecated messages appear every time rspec is run:
[code]
I believe this issue has been resolved in the master version of this cookbook, but supermarket is still locked to version 2.1.6.

I guess this not so much an issue but more a question of when you will release version 3.0.x of this cookbook to supermarket so that these messages will stop appearing.
Bear in mind any

[2015-02-04 16:26] EasyAsABC123 commented on #119
@seeafish iis@3 is being worked on diligently and the goal is to release it as quickly as possible.

@smurawski do you have a better answer for @seeafish

[2015-02-05 21:07] ksubrama commented on #117
I don't actually see any of those attributes, save for iis home being referenced anywhere else in this cookbook.  Do we need these attributes at all? @joshburt - how are you using these attributes?  Do you need them in this cookbook or can you just generate them yourself within your recipes?

[2015-02-05 21:09] EasyAsABC123 commented on #117
@ksubrama you are correct only ['iis']['home'] is in use, however a lot of the other attributes should likely be used as the default logging path and cache path.

[2015-02-05 21:44] kbarry-x commented on #89
I was not using the latest version of the cookbook. I am getting the latest version now. When I attempted to earlier, I ran into https://github.com/opscode-cookbooks/iis/issues/95

I am updating, and testing now. Wish me luck.

[2015-02-06 15:42] seeafish commented on #119
Thanks for the quick answer @EasyAsABC123
Any further information is appreciated! :)

[2015-02-06 15:49] EasyAsABC123 commented on #117
@ksubrama You are correct that the cookbook doesn't currently use any attribute but the home attribute.  I know we use the home attribute in out 3rd party consumption cookbooks.  We should likely write some code to change the log path and cache path of iis to the attribute values.

[2015-02-06 22:51] #117 closed

[2015-02-09 19:14] znunez opened #125 "Compile error for site resource"
Recipe Compile Error in c:/chef/cache/cookbooks/iis/resources/site.rb

NameError

undefined local variable or method `iis' for #<Class:0x51b8098>

Cookbook Trace:

  c:/chef/cache/cookbooks/iis/resources/site.rb:32:in `class_from_file'

Relevant File Content:

c:/chef/cache/cookbooks/iis/resources/site.rb:

 25:  attribute :port, :kind_of => Integer, :default => 80
 26:  attribute :path, :kind_of

[2015-02-09 19:29] EasyAsABC123 commented on #125
Resolved by https://github.com/opscode-cookbooks/iis/pull/124

[2015-02-09 19:37] znunez commented on #125
Thank you @EasyAsABC123 !!

[2015-02-09 19:37] EasyAsABC123 commented on #125
leave the issue open until #124 is pulled into master.

[2015-02-10 22:44] EasyAsABC123 commented on #125
pull request #124 is now in master, closing

[2015-02-10 22:44] #125 closed

[2015-02-11 20:41] spuder opened #128 "error: undefined method `pool_identity`"
If you run this cookbook on a brand new windows 2012r2 server, you will get the following error

undefined method `pool_identity`

[code]

recipe/default.rb

[code]

I'm pretty new to chef, so I'm not sure if this is a bug or a configuration problem.

[2015-02-11 21:09] kenny-evitt commented on #114
Also the `runtime_version` isn't correct.

[2015-02-11 21:12] kenny-evitt commented on #114
Here's my pool resource now:

[code]

The pool is created when the recipe is first run but the pool isn't started; the knife output:

[code]

On subsequent runs, the pool is started fine.

Based on the error message `The object identifier does not represent a valid object.`, I'm guessing the pool creation hasn't entirely completed when the pool-start command is issued.

[2015-02-11 21:54] EasyAsABC123 commented on #114
the command returned 4312 which is `ERROR ( message:Cannot find requested collection element. )`

Something isn't working right for you i'll run your script here in a second, and update to your chef version

[2015-02-11 22:00] spuder commented on #128
I've figured it out. For some reason, chef was downloading an older version.

By adding the following to my berksfile and metadata.rb of my wrapper cookbook, I no longer get the error.

metadata.rb

    depends 'iis', '~> 3.0.12'

berksfile

    cookbook 'iis', git: 'https://github.com/opscode-cookbooks/iis.git'

[2015-02-11 22:00] #128 closed

[2015-02-12 06:26] EasyAsABC123 commented on #114
@kenny-evitt this is working with the latest version master branch version, running your script on chef version `*** Chef 11.12.4 ***`

[2015-02-12 14:37] kenny-evitt commented on #114
@EasyAsABC123 I'll test with the latest version and let you know the results.

[2015-02-12 22:15] ksubrama commented on #103
Fixed.

[2015-02-12 22:15] #103 closed

[2015-02-12 22:17] ksubrama commented on #89
The /+ config commands are currently not idempotent and I think there is some lingering issue in detecting them correctly.  Let me know if the newest version works for you.  If not, I'll keep an careful eye for this when doing a bug-fix pass.

[2015-02-13 02:28] Novex opened #135 "host_header changes not applying on config"
Oops sorry, I did this backwards because admittedly I didn't read the contribution guidelines until after creating the pull request.

I noticed `host_header` changes would only take effect on add, not on `config`.

This seems to be because `is_new_port_host_provided` is checking to see if the binding combo is already included, which it never will be. This prevents the binding being added on line 7

[2015-02-13 21:29] seancoyne opened #136 "processModel.setProfileEnvironment is not an available setting for application pool"
I was having an issue using the pool provider to create an application pool on Windows 2008 R2.

I tracked it down to [this line](https://github.com/opscode-cookbooks/iis/blob/master/providers/pool.rb#L196):

[code]

It turns out that processModel.setProfileEnvironment is not an available setting for my version of Windows/IIS.

Commenting out this line fixed my problems.  If its helpful, here are

[2015-02-13 21:31] EasyAsABC123 commented on #136
which version of IIS are you using?

[2015-02-13 21:34] seancoyne commented on #136
I'm installing it using this cookbook, so whatever the default is.

According to "About IIS" it is 7.5.7600.16385

Looks like setProfileEnvironment wasn't added until IIS 8 http://www.iis.net/configreference/system.applicationhost/applicationpools/add/processmodel

[2015-02-13 21:35] EasyAsABC123 commented on #136
yeah, that was my guess

[2015-02-13 21:45] EasyAsABC123 commented on #136
pull request added should be brought in soon, thanks for bringing this to our attention

[2015-02-13 23:31] EasyAsABC123 commented on #136
@seancoyne your issue should be resolved in latest from master, please pull.  For now we removed this property until we come up with a quick method to identify iis version.

Thanks for pointing this out again, after you validate the issue is resolved with latest please close this issue

[2015-02-13 23:50] seancoyne commented on #136
Works perfectly.  Thanks for the quick response!

[2015-02-13 23:50] #136 closed

[2015-02-17 22:21] spuder opened #138 "Setting the default document"
The readme.md doesn't specify if this cookbook can set the default document for an application.

Can it alter the default document? If so, I'd like to figure out how, and add it to the readme.

[2015-02-17 23:07] spuder opened #139 "Typo in readme"
The readme has the following sentence which appears to be incomplete.

    that the application pool should be automatically started when it is created or when IIS

When IIS does what?

[2015-02-18 01:05] #139 closed

[2015-02-18 01:06] EasyAsABC123 commented on #139
This is fixed, thanks for finding it!

[2015-02-18 01:07] EasyAsABC123 commented on #138
@spuder This cookbook currently doesn't allow for the editing of the default document.  This is possible via the iis_config provider but won't be idempotent.  This should likely be rolled into a larger change of adding all the properties of sites/applications so that it can handle all the desires someone might have.

I'll look into this one immediately and add a pull request for it.

[2015-02-18 01:49] EasyAsABC123 commented on #138
This can be done fairly easily, but the real question this brought to my mind is...Do we want an `iis_root` to edit the iis root/Computer settings rather than a site or application.

In the meantime I can happily add it to iis_site and iis_pool, but I think this brings to light that we should have an `iis_root` and likely the `library/helper.rb` should contain some appcmd's that do `root`, `site`,

[2015-02-18 02:35] spuder commented on #138
Thanks for responding.

I'm linux admin by trade who had never touched an IIS server until recently. I can't say what the best option would be.

I am trying to do a wrapper cookbook to add a default document to an application.
(I'm also interested in removing the defaults like index.htm, ).

[2015-02-18 02:48] EasyAsABC123 commented on #138
@spuder unfortunately the defaults like `index.htm` are defined at the root level not at the site/application level.

Everything below that is inherited by default.

[2015-02-18 18:46] spuder commented on #138
On the web servers that I inherited, all default documents have been removed and replaced with a specific one. I think that is how I want to setup new web servers.

[2015-02-18 19:51] EasyAsABC123 commented on #138
@ksubrama want to have a google hangout to discuss this?

[2015-02-18 20:01] EasyAsABC123 commented on #135
Resolved #134  and merged

[2015-02-18 20:01] #135 closed

[2015-02-19 15:43] ksubrama commented on #138
@EasyAsABC123 Yes I think we would need to discuss strategy on this.  Let me ping you offline in the next day or so.

[2015-02-19 16:19] EasyAsABC123 commented on #138
@ksubrama sounds good, definitely need to decide as I know we are working toward an iis@3.X.X release.  Adding this functionality or refactoring for an `iis_root` provider definitely is going to require more testing.

[2015-03-01 23:33] CaseyBurnsSv opened #142 "iis_app config action - xpath incorrect"
The xpath queries used to determine the current values do NOT work against the output from appcmd.exe.

For example; xpath = 'APP/application/virtualDirectory/@physicalPath'
But the output from appcmd.exe is wrapped in a root tag of <appcmd>

The xpath query never finds a match and assumes the resource is configured as expected.

Prefixing the xpath with '//' should fix the problem. But shouldn't

[2015-03-01 23:35] EasyAsABC123 commented on #142
which provider are you having issues with?

[2015-03-01 23:55] CaseyBurnsSv commented on #142
app.rb

[2015-03-01 23:58] CaseyBurnsSv commented on #142
Fork with fix: https://github.com/CaseyBurnsSv/iis/commit/0a10ef0c2fb676bf78c75e167b8a932079595447

[2015-03-02 00:08] EasyAsABC123 commented on #142
you sure about this? when i do a puts it is working.  this is the same for all of the stuff (used in all providers).  What IIS are you using, what OS are you using?

[2015-03-02 00:21] CaseyBurnsSv commented on #142
Thanks for the fast response!

I am using Windows 8.1 and IIS 8.5.

When I run this: C:\windows\System32\inetsrv\appcmd.exe list app "abc" /config:* /xml

The result I see is has this structure:
<?xml version="1.0" encoding="UTF-8"?>
<appcmd>
    <APP >
        <application >
            <virtualDirectoryDefaults >
            <virtualDirectory >
        </application>
    </APP>
</appcmd>

[2015-03-02 00:38] CaseyBurnsSv commented on #142
I might have found another issue -- now it is detecting that the app's physical path has changed. But it never reaches the code that executes appcmd.exe to update the physical path.

Line 73 of providers/app.rb -- cmd is null when is_new_physical_path is true.

[2015-03-02 00:46] EasyAsABC123 commented on #142
that's weird:
[code]

are you on the latest version?

[2015-03-02 00:47] EasyAsABC123 commented on #142
ahh the bug is the if above it
[code]

[2015-03-02 00:48] EasyAsABC123 commented on #142
missing an end much earlier in the code.  Try:

[code]

[2015-03-02 01:01] CaseyBurnsSv commented on #142
Yeah, just tried that. Seems to fix it. I had to add a windows_cleanpath(x) on the attribute

[2015-03-02 01:07] EasyAsABC123 commented on #142
make sure you have this fix in a separate branch and make a new issue for it, i'll code review and pull it in

[2015-03-02 01:40] CaseyBurnsSv commented on #142
I'll submit the fix when I get home tonight. In about 4 hours or so.

[2015-03-02 08:36] CaseyBurns opened #143 "iis_app provider needs several fixes"
Fixed: App Provider XPath Queries
Fixed: Logic flow no longer skips update physical path
Fixed: clean path on physical path

[2015-03-02 08:37] CaseyBurns commented on #142
Please close this. I created it with my work GitHub account.

[2015-03-02 14:07] EasyAsABC123 commented on #142
Closing issue at the request of the OP

[2015-03-02 14:07] #142 closed

[2015-03-02 14:07] EasyAsABC123 commented on #143
Resolved by #144

[2015-03-02 15:29] ksubrama commented on #138
@EasyAsABC123 Hey..  sorry I didn't get back last week.  Life and thermodynamics and some cracked sprinkler pipes got in the way.  I'll try to catch up as quickly as I can.

[2015-03-02 15:31] EasyAsABC123 commented on #138
@ksubrama sounds good let me know when you want to do a google hangout and discuss this.

[2015-03-02 21:01] spuder opened #145 "Manage MIME Types"
Feature Request: Add the ability to manage MIME Types.

An example of how to do this though powershell.

    $env:windir\system32\inetsrv\appcmd set config /section:staticContent /+"[fileExtension=' .dmg ',mimeType=' application/octet-stream ']"

![screenshot 2015-03-02 13 52 16](https://cloud.githubusercontent.com/assets/242382/6450364/8098c432-c0e4-11e4-8f31-a5d4248cbb64.png)

[2015-03-02 22:23] EasyAsABC123 commented on #145
@ksubrama same thing here, mime types are defined at both the root, site, and application level

[2015-03-03 14:43] EasyAsABC123 commented on #138
@ksubrama as a sidenote i'll be at chefconf if you won't have time until then.

[2015-03-04 00:36] txag1995 opened #146 "Site bindings get overwritten with defaults during :config"
When using the `bindings` attribute of the iis_site resource, subsequent `:config` actions reset the bindings to `http/*:80:`
[code]
In the iis_site provider, the config action should ignore 'protocol', 'port', and 'host_header' if 'bindings' is specified.  This is similar to, but different from https://github.com/opscode-cookbooks/iis/issues/135.

[2015-03-04 04:09] EasyAsABC123 commented on #146
@txag1995 if you have a moment please test #148

[2015-03-04 15:48] #146 closed

[2015-03-04 16:09] ksubrama commented on #119
I think this is now resolved since we released version 4 recently.

[2015-03-04 16:09] #119 closed

[2015-03-10 00:53] agperson opened #149 "Compile error loading Opscode::IIS::Helper::Windows"
There is an error with this cookbook on Linux (tested on Amazon Linux 2014.9 and CentOS 7.0) when running under Chef client 12.1+.  Attempting to converge with a run list of "recipe[chef-client]" (which transitively depends on "iis") fails with the following error.  This error does not occur when using the latest Chef 11 client to converge.  Hiding the `include Windows::Helper` statement under an

[2015-03-10 14:31] EasyAsABC123 commented on #149
This is a question above my pay grade, i'll apply the patch that resolved the issue immediately and then we will need to deep dive.

[2015-03-10 14:52] btm commented on #149
Because the iis cookbook depends on the windows cookbook, the windows/libraries/windows_helper.rb should be loaded first. I'll look to see if something changed between 12.0.3 and 12.1.0 that could affect load order.

[2015-03-10 15:01] agperson commented on #149
I did not see it being loaded first when I ran in debug mode.

[2015-03-10 20:59] agperson commented on #149
In the normal course of events the chef-client cookbook does not depend on IIS (which...makes sense), I was only picking it up due to an unrelated error.

I don't know if there are other cases where a multi-platform cookbook might depend on this cookbook and a Linux user could run into this error.  I suspect it is possible, but since my example was flawed I don't know the likelihood.  Close or fix

[2015-03-10 21:03] btm commented on #149
@agperson glad we resolved https://github.com/opscode-cookbooks/chef-client/issues/285. In this situation though, I'm not sure why we aren't seeing the windows cookbook being loaded first, which should be where that module comes from.

Can you confirm that the copy of the iis cookbook that you're running has a dependency on the windows cookbook in it's metadata, and what the version of the windows

[2015-03-10 21:06] agperson commented on #149
I can confirm that the copy of the IIS cookbook is version 4.1.0 and depends on `"windows", ">= 1.34.6"`.  The version of the windows cookbook is 1.36.6

[2015-03-11 14:33] btm commented on #149
@agperson can you share a gist of a 'chef-client -l debug' output?

I made a fake cookbook that depended on iis, and running Chef 12.1.1 it properly loaded the windows cookbook first:

[code]

[2015-03-20 19:54] znunez opened #151 "iis_pool issue when setting a gMSA identity"
I can no longer set gMSA accounts using iis_pool resource. These accounts do not have passwords, and it seems the pool provider is checking to ensure the pool_password is not an empty string. Setting pool_password to nil also does not work.

[2015-03-20 20:17] EasyAsABC123 commented on #151
You are correct, can you link to gMSA account types so that the upcoming patch can be written in the most uniform fashion.

[2015-03-23 15:54] #151 closed

[2015-03-24 19:46] #143 closed

[2015-03-26 16:11] EasyAsABC123 commented on #114
@kenny-evitt hey! any news on this?

[2015-03-26 16:12] EasyAsABC123 commented on #76
This looks resolved :+1:

[2015-03-26 16:12] #76 closed

[2015-03-27 17:01] kenny-evitt commented on #114
@EasyAsABC123 I just tested this via Chef Zero. The app pool is created and started on my local computer but the chef-client output indicates that it failed to start the application pool:

[code]

I'd guess that the pool creation might not have finished before the start command is issued.

Do you need or want me to test this on the actual 'production' computer?

[2015-03-27 17:22] EasyAsABC123 commented on #114
@kenny-evitt hey! no it should work in Chef -Z (chef zero).  that's how I test it using vagrant, this is apparently a race condition in appcmd.

which version of windows are you using?
which version of iis are you using?
have you updated appcmd?

Let me know the above, this might require rewriting this LWRP to use WMI.

[2015-03-27 18:10] kenny-evitt commented on #114
I'm running Windows 7 and IIS 6.1. I don't remember updating *appcmd* – how can I check?

[I ran into trouble with a build task that needed to wait until an IIS site stopped](http://stackoverflow.com/a/29034323/173497). Unfortunately, *appcmd* definitely seems to return before the commands or requests made with it have completed. I ended-up writing a small PowerShell snippet to poll the `appcmd li

[2015-03-27 18:50] EasyAsABC123 commented on #114
It looks like this was fixed at some point in append but I don't know when that point was so it will likely make sense to only do these checks if the chef client run is using that version or older.

This will take a bat script test with each version of app me until the issue doesn't present itself.  Theoretically we could request people update to that version and remove support for older versions

[2015-03-31 19:08] kbarry-x commented on #89
I'm still getting the erro, using the latest of both the windows and iis cookbooks.

I'm going to change

resources/config.rb

attribute :returns, :kind_of => [Integer, Array], :default => 0
to
attribute :returns, :kind_of => [Integer, Array], :default => [0,183]

[2015-03-31 19:11] EasyAsABC123 commented on #89
@kbarry-x please test that and submit a pull request.

[2015-03-31 19:16] kbarry-x commented on #89
183 is the "Its already there" code. And i believe it was a hack/fix in a
previous version employed by others. Lemme see if I can figure out a
pull-request ;)

On Tue, Mar 31, 2015 at 12:11 PM, Justin Schuhmann <notifications@github.com

--

Kenneth Barry
TuneIn | Build and Release Engineer
M: 409-673-0544
www.tunein.com

[2015-03-31 20:29] EasyAsABC123 commented on #89
Actually this isn't a pull request, here is the solution...

add an attribute to your provider call

[code]

A global change isn't a great idea here but this will definitely solve your use case.

[2015-03-31 20:43] EasyAsABC123 commented on #114
@kenny-evitt can you install IIS 7 and see if the issue persists?

I'm going to have to write a lot of code to figure out exactly when this issue was resolved.  In the meantime your look that is just waiting until the SITE exists will work but it in a coding sense has "smell" to it.

[2015-03-31 21:00] kbarry-x commented on #89
Awesome. Thanks very much. I wasnt aware of "returns" but I suspect its a
"common attribute"

On Tue, Mar 31, 2015 at 1:29 PM, Justin Schuhmann <notifications@github.com>
wrote:

--

Kenneth Barry
TuneIn | Build and Release Engineer
M: 409-673-0544
www.tunein.com

[2015-03-31 22:10] EasyAsABC123 commented on #89
@kbarry-x never a problem, this is definitely a permanent solution for you.  We just need to decide if that's the permanent solution for everyone via default.

[2015-03-31 22:31] kbarry-x commented on #89
How do we handle configs that are in the form of an  "addition"?
On Tue, Mar 31, 2015 at 3:10 PM, Justin Schuhmann <notifications@github.com>
wrote:

--

Kenneth Barry
TuneIn | Build and Release Engineer
M: 409-673-0544
www.tunein.com

[2015-03-31 23:06] EasyAsABC123 commented on #89
@kbarry-x can you provide an example?

[2015-04-01 23:59] tophercullen opened #157 "mod_aspnet does not work remotely with server 2012"
There's an issue with the windows_feature_dism provider (see https://github.com/opscode-cookbooks/windows/issues/196) when installing NetFx3 remotely. Powershell works, dism does not. NetFx3 is required for the mod_aspnet recipe. However, the recipe is written to only support dism, which doesn't work with the dependency NetFx3.

[2015-04-02 13:40] kenny-evitt commented on #114
@EasyAsABC123 sorry; I read the version info incorrectly earlier. I already *am* running IIS 7, version 7.5.7600.16385. The *appcmd.exe* file has the same version as IIS.

[2015-04-02 18:08] EasyAsABC123 commented on #114
@kenny-evitt that's awesome news because it was confusing that you were utilizing iis 6.  A lot of this is design choices, if powershell will be used or dsc or wmi or if we stick with appcmd.  I'd presume for compatibility the latter but honestly they are all a means to an end.  I'll look into providing a patch for this soon.

Promise :)

[2015-04-04 21:58] EasyAsABC123 commented on #114
@kenny-evitt if you don't mind can you test the above feature branch?

[2015-04-09 14:09] kenny-evitt commented on #114
@EasyAsABC123 I *may* have tested the feature branch just now. If I did so – correctly – then I ran into a *similar* error; see below.

Note that it's the *site* that failed to start this time, not the application pool.

I wrote "may have tested the feature branch" because I had some trouble installing the feature branch. I tried using the *[knife-github-cookbooks](https://github.com/websterclay/k

[2015-04-09 14:13] EasyAsABC123 commented on #114
@kenny-evitt you can just download the zip file from https://github.com/opscode-cookbooks/iis/archive/hotfix-appcmd_bug_sync.zip then upload it to your chef server.  I don't think you have the latest because it should of `Chef::Log.error("Failed to start in 5 seconds")`

[2015-04-11 06:39] EasyAsABC123 commented on #114
@kenny-evitt  we can also try to do the following
[code]

[2015-04-15 15:52] dschrander opened #159 "Site.rb provider action [:add] doesn't set a specified custom log_directory attribute."
Specifying  a log_directory attribute is ignored when adding a new site using the [:add, :start] options for the iis_site provider.
The same attribute gets set when using the [:config] action for the iis_site provider.

As a workaround I have created the site and ran a [:config] right after that, just setting the custom log_directory.

Can this be fixed in the add part of the iis_site provider ple

[2015-04-15 16:29] EasyAsABC123 commented on #159
You are correct, I'll fix this tonight.  Basically the :config operation needs to be turned into a function and called from the :add operation.

Justin Schuhmann

[2015-04-16 10:25] dschrander commented on #159
Thanks for the quick response. Looking forward to it!

Cheers,
David Schrander

[2015-04-16 13:55] EasyAsABC123 commented on #159
Never a problem, I'm running wires to move my office so I don't have a computer this second.  Hopefully I'll have it done today.

[2015-04-17 15:27] kenny-evitt commented on #114
@EasyAsABC123 it seemed to work – the *hotfix-appcmd_bug_sync* branch, not adding the 'retry' attributes. I added the dependency for the branch using Berkshelf and re-tested using Chef Zero.

[2015-04-17 15:51] EasyAsABC123 commented on #114
@ksubrama hey, so...can you spend some time looking at this code? I know it works and I know what it does, however I think that we would want the `retry` and `retry_delay` over this code.

[2015-04-17 16:03] EasyAsABC123 commented on #159
@dschrander please test the bug-site_add_does_note_config branch found here https://github.com/opscode-cookbooks/iis/tree/bug-site_add_does_not_config

[2015-04-17 16:12] EasyAsABC123 commented on #145
@spuder i'm looking into this and the other root issue, i'm hoping to have something figured out and committed by next weekend.  Sorry for the delay

[2015-04-17 16:58] spuder commented on #145
Great thanks!

[2015-04-19 21:48] pvandervelde opened #161 "iis_section unlock fails to unlock authentication section"
In my cookbook I'm trying to unlock the IIS windowsAuthentication and anonymousAuthentication sections at the global level but somehow it is not working correctly. I'm running the cookbook against a Win2012R2 server and am installing IIS with the IIS cookbook (version 4.1.0):

    include_recipe 'iis'

    # Install the ASP.NET 4.5 runtime components
    include_recipe 'iis::mod_aspnet45'

    # I

[2015-04-20 08:08] dschrander commented on #159
Hi Justin,
Thanks for the update. It does configure the log_directory now, but unfortunately I get a 'NoMethodError' error when also using 'bindings' (undefined method `bindings=' for Chef::Resource::IisSite).

It does however create the site and it's bindings properly and starts it, but every chef run fails on above error.
When reverting back to the master branch, the error is gone (no logging co

[2015-04-20 11:04] EasyAsABC123 commented on #159
Sounds good, I'll get that resolved or inform you of what I think it is, if you could post the real error that would be helpful, real as in full

[2015-04-20 11:37] dschrander commented on #159
Sure, here's what I got in my stacktrace output:
NoMethodError: iis_site[Test Site] (test_iis_role::default line 64) had an error: NoMethodError: undefined method `bindings=' for Chef::Resource::IisSite

[2015-04-20 11:44] EasyAsABC123 commented on #159
Can you post the iis_site provider declaration from your recipe?

[2015-04-20 11:50] dschrander commented on #159
Compiled Resource:
 ------------------
 # Declared in C:/chef/cache/cookbooks/test_iis_role/recipes/default.rb:64:in `block in from_file'

 iis_site("Test Site") do
   action [:add, :start]
   retries 0
   retry_delay 2
   guard_interpreter :default
   cookbook_name "test_iis_role"
   recipe_name "default"
   protocol :http
   port 80
   application_pool "Test Site"
   path "D:\\AppSites/Test/Publ

[2015-04-20 12:21] EasyAsABC123 commented on #159
That's all I need next time I am at a computer I'll resolve this

[2015-04-21 02:46] EasyAsABC123 commented on #161
@pvandervelde please test branch `bug-iis_section` or pull request #162

[2015-04-21 02:49] EasyAsABC123 commented on #159
not seeing any bugs, can you verify that you downloaded https://github.com/opscode-cookbooks/iis/archive/bug-site_add_does_not_config.zip and uploaded it?

[2015-04-21 06:44] dschrander commented on #159
Yes, I have. But even if I throw away my local repo, download the master from git it breaks on this exact same thing.
I have noticed that in the last commit '07e6e34cd3efb5759466309c494af8ea6cebe55e' that ksubrama made 5 days ago is "Showing  45 changed files  with 343 additions and 304 deletions."

This was done without updating the version and now doesn't work for me anymore. Like I said, I had

[2015-04-21 21:44] EasyAsABC123 commented on #159
That's actually my check-in ksubrama just merged it (as you don't merge your own code).

I'll stand up vagrant on this machine tonight and take a look at the real issue (we need to get test kitchen to avoid this in the future)

[2015-04-21 21:45] EasyAsABC123 opened #163 "Current Master is broken due to rubo-copy changes"
I'll need to deeper dive into this to figure out what went wrong, stay tuned.

[2015-04-23 14:47] EasyAsABC123 commented on #163
please pull - https://github.com/opscode-cookbooks/iis/commit/570761a9eaeaa006192cb2de5cc9994457c87ab5 if you want the current working version.  (The lose of my macbook has slowed my development).

[2015-04-23 17:06] EasyAsABC123 commented on #114
@kenny-evitt I have another idea for this and will be posting the code once i've resolved #163

[2015-04-23 21:30] pvandervelde commented on #161
I'm trying to push my changes to our production servers at the moment so I can't test this right now but I will do as soon as the release has been done.

[2015-04-23 21:37] EasyAsABC123 commented on #161
It won't work because of #163

[2015-04-24 16:07] #159 closed

[2015-04-27 21:57] keyrage opened #164 ":add and :config of app_pool does not change the pipeline_mode"
IIS cookbook 4.1 creates the pool but does not set the pool to "Classic" mode. The `:config` action is reporting in the chef debug logs that there is nothing to change. Multiple runs return the same result for `:config`.

- IIS 8.5
- Chef Client 12.0.1

- Attributes
[code]

- Recipe
[code]

[2015-04-27 22:09] EasyAsABC123 commented on #164
@keyrage Oh no! looking through the code right now, i'll be write back.

Just as a quick verification can you do the following in your recipe?
[code]

[2015-04-27 22:14] EasyAsABC123 commented on #164
So, here's the skinny:
`:add` is the only time that pipeline_mode is set...which isn't right, fixing it right now

[2015-04-27 22:17] keyrage commented on #164
OK, I'm actually running into some other similar issues as well with iis_site resource where the application_pool under :config will not be detected as needing to be changed as well.

[2015-04-27 22:22] EasyAsABC123 commented on #164
please test pull request #165, hopefully it resolves the pool issue

[2015-04-27 22:24] EasyAsABC123 commented on #164
@keyrage you are correct about the application_pool, `:config` ignores it.

[2015-04-27 22:24] keyrage opened #166 "iis_site resource does not detect that the application_pool attribute needs to be changed"
IIS 4.1 cookbook does not detect that the application pool needs to be changed when the resource is set to :config.

- IIS 8.5
- Chef Client 12.0.1

- Attributes
[code]

- Recipe
[code]

[2015-04-27 22:41] EasyAsABC123 commented on #164
please also test #167 as it should fix the application_pool bug :)

[2015-04-27 22:42] EasyAsABC123 commented on #166
please test #167 as it should fix the application_pool bug :)

[2015-04-27 22:44] EasyAsABC123 commented on #163
seems to be working for some and not others, without more information i'm forced to close.

[2015-04-27 22:44] #163 closed

[2015-04-27 23:10] keyrage commented on #164
That's crashing the chef run.

"NameError: No resource, method, or local variable named `returns' for `Chef::Provider::IisPool"

[2015-04-27 23:26] keyrage commented on #164
config.rb provider code is buggy. Line 30 "shell_out!(cmd, returns: new_resource.returns)" should be "shell_out!(cmd, :returns => new_resource.returns)"

[2015-04-27 23:37] keyrage commented on #164
:add now works and sets the pipeline_mode correctly, :config still doesn't detect or make the change.

[2015-04-28 00:25] keyrage opened #168 "Enhancement #156 contains several syntax errors in pool.rb and config.rb"
Chef run using iis_pool resource crash with the error "NameError: No resource, method, or local variable named returns' forChef::Provider::IisPool"

[2015-04-28 00:41] keyrage commented on #164
Getting this error:

ERROR: Converge failed with error message iis_pool[VenusAppPool] (poal_venuswebsite::default line 12) had an error: Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0], but received '13'
---- Begin output of C:\Windows\System32\inetsrv\appcmd.exe set config /section:applicationPools "/[name='VenusAppPool'].autoStart:true" "/[name='VenusAppPool'].startMode:O

[2015-04-28 00:55] keyrage commented on #164
"/+[name='VenusAppPool'].recycling.periodicRestart.schedule.[value='']" seems to be the offender.

[2015-04-28 18:00] ksubrama commented on #168
Your fix has been merged in.  Thank you for your help!  Please re-open this if you run into anything else.

[2015-04-28 18:00] #168 closed

[2015-04-28 18:01] #166 closed

[2015-04-28 18:30] ksubrama commented on #164
@keyrage   shouldn't returns: new_resource.returns be equivalent to :returns => new_resource.returns ?  I believe that is the Ruby 1.9 syntax for hashes.  I merged your syntax fix (the :returns part was definitely broken) to unblock you, but I've also merged in @EasyAsABC123 's changes.  I think merging his change auto-closed this issue.  I'm manually reopening it while I investigate the schedule.

[2015-04-28 18:32] ksubrama commented on #163
I think the return: foo syntax is not working depending on the version of ruby that people are using.  If it comes back up, we can re-open it.

[2015-04-28 19:21] ksubrama commented on #164
Ok - I'm now caught up on the other threads where this returns: thingy got discussed.  I'm going to try out some of the changes locally.  If the syntax changes seem to be causing more issues, I might revert our rubocop related changes for now.

[2015-04-28 20:16] keyrage opened #171 "Provider pool.rb sytax error in line 280"
Syntax error in the provider file pool.rb on line 280 within current master branch. Chef run crashes. Suspect "returns" should be ":returns"

[2015-04-29T07:50:37+12:00] ERROR: Converge failed with error message iis_pool[
VenusAppPool] (poal_venuswebsite::default line 12) had an error: NameError: No
resource, method, or local variable named `returns' for `Chef::Provider::IisPoo
l ""'
[2015-04-29T0

[2015-04-28 20:35] keyrage commented on #171
Just pulled latest commits, issue fixed.

[2015-04-28 20:35] #171 closed

[2015-04-28 21:03] keyrage opened #172 "iis_pool crashes chef run when setting pipelinemode in current master branch"
appcmd option for managepiplineMode is being passed incorrect variable (/[name='TestAppPool'].managedPipelineMode:Classic.capitalize")

Backtrace:
iis_pool("TestAppPool") do
  action [:add, :config]
  retries 0
  retry_delay 2
  default_guard_interpreter :default
  declared_type :iis_pool
  cookbook_name "poal_Testwebsite"
  recipe_name "default"
  pipeline_mode :Classic
  thirty_two_bit true
  ru

[2015-04-28 21:16] keyrage opened #173 "iis_pool resource fails on coverge due to appcmd time attribute not of the correct format."
Current master branch has a fault where the configuration of an app pool fails due to the appcmd call passing a time attribute with a blank string which fails the appcmd with error code 13.

Backtrace:
Resource Declaration:
---------------------
# In C:/chef/cache/cookbooks/poal_Testwebsite/recipes/default.rb

 12: iis_pool "#{node['poal_Testwebsite']['app_pool']}" do
 13:   action [:add,:config]

[2015-04-28 21:36] EasyAsABC123 commented on #172
good catch, fixing it right now

[2015-04-28 21:37] EasyAsABC123 commented on #173
this just needs to be `is_new_or_empty?` since it shouldn't do anything if it is empty.

Good catch

[2015-04-28 21:41] keyrage opened #174 "iis_site resource throws error "NomethodError: undefined method 'bindings='"
iis_site throws an error "NoMethodError: undefined method `bindings=' for Chef::Resource::IisSite"

Backtrace:
[2015-04-29T09:21:00+12:00] DEBUG: iis_site[Test] current_resource match output: SITE "Test" (id:1,bindings:http/*:80:,state:Started)

================================================================================
Error executing action `config` on resource 'iis_site[Test]'
============

[2015-04-28 21:49] EasyAsABC123 commented on #172
please test #175

[2015-04-28 22:04] EasyAsABC123 commented on #173
from what i can tell it already uses `is_new_or_empty?` and the code looks right...curious

[2015-04-28 22:14] EasyAsABC123 commented on #174
this is in the latest master?

[2015-04-28 22:26] keyrage commented on #173
Looking at the backtrace above and the helper.rb code, I'm kind of wondering if the logic in new_or_empty_value? and new_value? is correct. My complete lack of Ruby knowledge is limiting me here. Every property of the pool is being set on every run even if there is no change to it.

[2015-04-28 22:33] keyrage commented on #174
As of when I logged the issue it was. I remarked out that line 117 and it all worked.

[2015-04-28 22:45] EasyAsABC123 commented on #174
@keyrage debugging right now, first the other issue then this one.

[2015-04-28 22:51] EasyAsABC123 commented on #173
this is because someone changed `return` to `:returns` in `configure_application_pool`...by someone i mean likely me

[2015-04-28 22:54] EasyAsABC123 commented on #173
please add #176 to test (it fixes this)...now off to bindings

[2015-04-28 22:56] EasyAsABC123 commented on #174
Okay, this happens because you are setting:
[code]

looking to fix this bug now

[2015-04-28 23:12] EasyAsABC123 commented on #164
closing this as another issue was opened for schedule.[value='']

[2015-04-28 23:12] #164 closed

[2015-04-28 23:13] EasyAsABC123 commented on #174
I have the fix for this but I can't publish...

Change Line 117 to in providers/site.rb:
[code]

[2015-04-28 23:15] EasyAsABC123 commented on #174
there done, please test #177 this will resolve this bug (you need all three to "work)

[2015-04-28 23:19] EasyAsABC123 commented on #145
didn't forget about this!

[2015-04-28 23:35] keyrage commented on #174
Looks good, really that was my stuff up for putting a blank host_header attribute in there in the first place, had put it in as a placeholder for wehn/if I needed to set it..

[2015-04-28 23:35] keyrage commented on #172
Looks good.

[2015-04-28 23:35] keyrage commented on #173
Looks good.

[2015-04-29 14:33] ksubrama commented on #171
Yay!  Glad to know that the syntax bugfix you submitted resolved it.

[2015-04-29 14:52] #172 closed

[2015-04-29 15:01] #173 closed

[2015-04-29 15:23] #174 closed

[2015-04-29 18:18] keyrage opened #178 "Promote current master branch to version 4.1.1"
Hi,

I don't know what the full process is but the fixes in the master build are important enough that I'd be keen to see the cookbook version bumped to 4.1.1 and shipped to the supermarket. Since it fixes at least one bug that will get hit by users pretty regularly it would be good to stop others pulling 4.1 down.

[2015-04-29 21:46] EasyAsABC123 commented on #178
I leave releases to the good folks at chef, but i know @ksubrama will knock that out.

[2015-05-01 18:33] ksubrama commented on #178
Hey!  I will get to a release next week after doing some quick sanity checking.

[2015-05-01 18:46] EasyAsABC123 commented on #178
Sounds good, I'll likely be making a new branch for refactoring and iis_root provider.  I figure it should be marked as a minor or major so I'd like to see a stable v4. :)

[2015-05-03 00:55] EasyAsABC123 commented on #114
@kenny-evitt I've been testing a lot on this, and with IIS 8.5 and windows 8...these issues don't exist...

I'm going to try to spend some time testing your OS and IIS version

[2015-05-04 05:22] spuder commented on #145
Just a guess, but it looks like this might already be implemented?

https://github.com/opscode-cookbooks/iis/blob/6f188ac4720be9f0b98e9f34912c8a376e048aa9/providers/config.rb#L28

This line of code already calls `appcmd set config`.

I don't know chef well enough yet to be able to see how this is code is called.

[2015-05-04 11:12] EasyAsABC123 commented on #145
Iis_config isn't idempotent (ie runs every chef run) this means it will recycle your site and application every 30 minutes.

Justin Schuhmann

[2015-05-04 13:49] kenny-evitt commented on #114
@EasyAsABC123 thanks! I'm happy to continue testing.

[2015-05-06 02:18] EasyAsABC123 commented on #145
`appcmd list config /section:system.webServer/staticContent` is the command i'll need (future)
`appcmd set config -section:system.webServer/staticContent /+"[fileExtension='tab',mimeType='text/plain']"` adds
`appcmd set config -section:system.webServer/staticContent /-"[fileExtension='tab',mimeType='text/plain']"` removes

[2015-05-07 01:30] EasyAsABC123 commented on #138
@spuder if you have a moment can you please test https://github.com/opscode-cookbooks/iis/tree/enhancement-iis_root_provider it has a new provider called `iis_root` in that provider you can do something like...

[code]

This should delete all default documents from the root that aren't in the above array and add all that are in the array.  Please note this is untested code (can't test this second)

[2015-05-07 21:01] spuder commented on #138
Thanks, I'm trying to test this now, but its been a few weeks since I've spun up vagrant and now It isn't working.

http://stackoverflow.com/questions/30110585/vagrant-chef-solo-add-to-runlist

I'll report back once I figure this out.

[2015-05-07 21:52] ksubrama commented on #138
I'm actually currently shaving that very yak.  I wanted to do a release today but apparently if you leave test-kitchen alone for 2 months, everything changes underneath you.

I'm now following http://kitchen.ci/blog/test-kitchen-windows-test-flight-with-vagrant/ but that has issues itself (the 2012R2 eval iso urls don't seem to download eval isos).  I'll be back when the yaks feel sufficiently sha

[2015-05-07 21:56] EasyAsABC123 commented on #138
@ksubrama coders be coders :) changing everything is the goal.  This branch will hopefully grow this weekend into a rich enhancement

[2015-05-07 22:31] ksubrama commented on #138
I have https://github.com/ksubrama/windows/tree/ksubrama/win2012r2 to work around issues I had with cutting my own box.  Once I did cut that box, the instructions from the blog post above seemed to help and kitchen vagrant ran cleanly.

bundle update
bundle exec kitchen verify

That should now work.  If you have vagrant-wrapper from an old installation, you might want to gem uninstall that (it cau

[2015-05-07 22:40] EasyAsABC123 commented on #138
@ksubrama  thanks for that! fixing some bugs in this branch right now. :+1:

[2015-05-08 00:13] EasyAsABC123 commented on #145
@spuder if you have a moment can you please test https://github.com/opscode-cookbooks/iis/tree/enhancement-iis_root_provider it has a new provider called iis_root in that provider you can do something like...

[code]

The above will change the mimeMaps, be aware that I recommend using the default and then adding to it since there are like 100 mimeMaps by default.

[2015-05-08 00:15] spuder commented on #145
Awesome, I"m still having some issues with vagrant + windows, but once I figure that out, I'll definitely try it.

[2015-05-08 00:22] EasyAsABC123 commented on #145
@spuder sounds good, let me know when you can! i'll want to add these to sites and applications (these = default documents, mimeMaps (known also as mimeTypes)

[2015-05-08 19:19] #178 closed

[2015-05-08 19:20] #149 closed

[2015-05-11 20:51] spuder commented on #138
Been working on testing this all weekend. I still can't get test kitchen working on windows. The converge says it ran, yet no cookbooks were applied.

I created a windows box based on the blog mentioned earlier and this repo
https://github.com/ksubrama/windows/tree/ksubrama/win2012r2

Then add the box

     vagrant box add spencer/windows-2012r2 ./box/virtualbox/eval-win2012r2-standard-nocm-1.0.4.

[2015-05-11 22:08] EasyAsABC123 commented on #138
@spuder I know it was working like 2 commits ago, but now i don't know for sure since i've been refactoring and making functional code blocks to prepare for applications and sites.

[2015-05-11 22:20] spuder commented on #138
I'm having a higher level problem. I can't get any cookbook to converge on windows. I think it is a problem with my .kitchen.yml or vagrant file. Do you have one you could share?

[2015-05-12 18:50] spuder commented on #138
I've resolved the issue with vagrant, but I'm not able to get this to work. I've updated my berks file to point to the enhancement-iis_root_provider branch

    cookbook 'iis', git: 'https://github.com/opscode-cookbooks/iis.git', branch: "enhancement-iis_root_provider"

[code]

What is the correct syntax for my wrapper cookbook? This is what I'm trying.

[code]

I don't see any code on github refe

[2015-05-12 19:40] spuder commented on #138
Ok finally got it.  I had to delete my berksfile.lock.

I can confirm that all default documents exept for foobar.html are now present in IIS. This also appears to be idempotent.

Ok to close.

[2015-05-12 19:55] spuder commented on #145
@EasyAsABC123
I tested this, but it did not succeed.

From my default cookbook

[code]
Full output here:
https://gist.github.com/spuder/a6c88d632536342bb71e

[2015-05-12 20:48] EasyAsABC123 commented on #145
Hurm, this happened to me one time...I'll look at it here in a few when I get home.  Happy to hear that it works (default document) after the refactor because adding it to site and applications will be simple.

Justin Schuhmann

[2015-05-12 21:23] EasyAsABC123 commented on #138
We'll leave it open until we merge the code into master.  Especially since this doesn't allow for sites or applications yet.

Justin Schuhmann

[2015-05-12 23:18] EasyAsABC123 commented on #145
lol, i changed them to both be `+` so it is adding all the things it should of been deleting.

Just be careful with this it will delete all mimetypes except what you give it (if you give it something).

I've pushed the fix in, please test when you get a chance.  I'll be adding support for sites and applications now.

[2015-05-13 00:36] spuder commented on #145
Great, So what would be the proper usage? Do I need to define root and application mime types separately?

I'm guessing something like this?
[code]

[2015-05-13 00:49] EasyAsABC123 commented on #145
I would recommend something like this:

[code]

if you just wanted to add 2 mimeTypes...without this not being idempotent you have to list all the mimeTypes you want...the default value is the default.

if you do a `.each do` it will continually overwrite one another since there is only 1 root each time you call
[code]
you will be writing to the root, you could do 3 separate calls if you were sett

[2015-05-13 16:03] spuder commented on #145
An :add option would be great because as it stands, the cookbook gets very big.

I'm ok leaving all the default mime types, I just want to add '.dmg' to the existing types. If there is a way that I could add it, without having to redefine all the existing mime types, it would be fantastic.

As a side note, my smoke tests are still failing. It complains about the .atom type, even though I removed t

[2015-05-13 16:30] EasyAsABC123 commented on #145
appcmd.exe set config /section:staticContent /+"[fileExtension='.dmg',mimeType='application/octect-stream]"
Should be:
appcmd.exe set config /section:staticContent /+"[fileExtension='.dmg',mimeType='application/octect-stream']"
Hints the failure...
In your iis_root usage just add the ' to the end of the mimeType.

I'll add the add and remove functionality tonight I hope...it will only work for thi

[2015-05-16 03:58] EasyAsABC123 commented on #145
@spuder okay, `:add` and `:delete` are now actions you can take...however it is somewhat unique in that if you want to add 2 mime types and delete 1 other...you'd need to make two calls to iis_root provider

[code]

[2015-05-18 20:26] Scythril opened #179 "Pipeline mode is not idempotent"
I have a bunch of app pools' pipeline_mode set to :Integrated, but it appears that the cookbook is trying to set it every time (based on debug logs). My assumption is that the check whether it's already set isn't correct, or not checking at all.

[2015-05-18 20:34] EasyAsABC123 commented on #179
providers/pool.rb - line 134
it appears to be caused by the following line:
[code]
This should be:
[code]

If you could change this line locally and then test (I'll test it when I get home).

[2015-05-18 21:01] spuder commented on #145
Is this in master or in the enhancement_iis_root provider branch? The newest commit I see is from the 12th.

https://github.com/opscode-cookbooks/iis/commit/7383ba3e3d57febe3c8fe006ba573b82cf358dd4

I'm getting this error

[code]

I'm using the enhancment branch with this in my recipe

[code]

[2015-05-18 21:14] Scythril commented on #179
Almost. `new_resource.pipeline_mode` is a Symbol, not a string, so that was one part of the issue. The other part was what you mentioned, the capitalization wasn't done properly (I see the intent, so I just fixed the execution).

[2015-05-18 21:16] EasyAsABC123 commented on #179
Don't need to do the capitalize or downcase.  It works fine without it since he symbols have proper casing.  Please just change the one line

Justin Schuhmann

[2015-05-18 21:25] EasyAsABC123 commented on #145
I forgot to push it, it's in enhancement-iis_root

[2015-05-18 21:25] Scythril commented on #179
Ok. I still had to drop the quotes because it was including the colon in the string, but it works.

[2015-05-18 21:27] #179 closed

[2015-05-18 22:05] spuder commented on #145
I'm getting this error:

[code]

[2015-05-18 22:15] EasyAsABC123 commented on #145
made a quick change, don't have a VM on this machine...sorry but thanks for the help with testing.

[2015-05-18 22:27] spuder commented on #145
Good, slightly different error

[code]

[2015-05-18 22:34] EasyAsABC123 commented on #145
again again :)

[2015-05-18 23:01] spuder commented on #145
New error

[code]

[2015-05-19 00:29] EasyAsABC123 commented on #145
@spuder woops i forgot i refactored the code around and have some `shell_out`s in the helper.

[2015-05-19 11:49] endakenny opened #181 "iis_app resource is not idempotent"
Im linking to the same issue that was logged(and fixed i thought) some time back - link below.

https://github.com/opscode-cookbooks/iis/issues/113

The iis_app physical path is not set in a case where the iis-app already exists but points to another path.

Ive done a simple test cookbook using iis 4.1.1 from supermarket.

metadata.rb
---------------
name             'check-iis_app-idempotence'
ma

[2015-05-19 12:19] EasyAsABC123 commented on #181
you are correct, on the `action :add` it will not update anything if the app already exists...

a temporary workaround is to add `action [:add, :config]` this will resolve your issue...i'll look into other providers and determine the best solution.  However, this is how all of the other providers (in iis) behave as well.

[2015-05-19 12:33] endakenny commented on #181
Hi Justin

I suspected as much but was unsure.
So just to be clear re the workaround, do I need a need second resource
with the config action or can I have the create and config in the same
resource?

Like this?

application_pool "teste env1 f"
physical_path "C:\Websites\teste\env1\f\hseo5\HSEO Framework
5_0_20140829.1\FrameworkHSEO5\FrameworkHSEO5"
enabled_protocols "http,net.tcp"
action [ :add,

[2015-05-19 12:52] EasyAsABC123 commented on #181
That works perfectly both together

Justin Schuhmann

[2015-05-19 13:00] endakenny commented on #181
Thanks - that work great - thank you!

[2015-05-19 13:33] EasyAsABC123 commented on #181
Not a problem I'll look into what we can do about edit...but I think since it is only bound to if it exists or not that's just how it works...

Please leave this open while I do some research.

Justin Schuhmann

[2015-05-19 20:37] spuder commented on #145
Hmm.. Looks like the problem has changed slightly.

[code]

The relevant lines in my recipe.

[code]

[2015-05-19 20:57] EasyAsABC123 commented on #145
definitely, multiple issues...i'll look into this tonight.

[2015-05-21 02:02] EasyAsABC123 commented on #145
[code]

I don't love this implementation, but i'm unsure what would be better...without removing `:config`

[2015-05-21 03:38] spuder commented on #145
Great. I assume I can have multiple resources? Would this still work (it should be the same, but is a little more readable).
[code]

[code]

I'll try this tomorrow when I have my work computer.

[2015-05-21 14:08] EasyAsABC123 commented on #145
100% just potato potato, since the attributes are unique you could run add, delete, config all in one

Justin Schuhmann

[2015-05-21 16:30] spuder commented on #145
I've done this 3 times just to make sure it wasn't something wrong with my environment.

Strange that all the mime types are being printed to the screen.

[code]

[2015-05-21 16:48] EasyAsABC123 commented on #145
I'll be able to test tonight, so I'll get it to working order, it prints them all because the default for default_documents.

Justin Schuhmann

[2015-05-22 02:23] EasyAsABC123 commented on #145
Issues with test-kitchen...arg, i'll have to do it this weekend.

[2015-05-22 21:18] EasyAsABC123 commented on #145
testing latest worked for me, please verify

[2015-05-22 21:18] EasyAsABC123 commented on #138
testing latest worked for me, please verify

[2015-05-22 21:19] EasyAsABC123 commented on #181
i'm going to close this under "operating as intended"

[2015-05-22 21:19] #181 closed

[2015-05-22 23:26] spuder commented on #138
I accidentally used the old syntax, which surprisingly still worked.

[code]

I kill vagrant and ran again

[code]

Worked perfectly.

I rebooted and ran again just to make sure it is idempotent. I did get an error starting one of the application pools, but I think that is unrelated.

I'd say this passes initial smoke tests!!!!

[2015-05-22 23:27] spuder commented on #145
Tested, worked perfectly!

[2015-05-22 23:46] EasyAsABC123 commented on #138
I'll write up the documentation this weekend.  Then create a pull request.

Justin Schuhmann

[2015-05-23 04:26] EasyAsABC123 commented on #145
Please read the documentation and validate that it is clear and understandable.  Thanks @spuder

[2015-05-24 02:58] spuder commented on #145
Looks great, I added an example  #184

[2015-05-24 02:58] spuder commented on #138
Looks good, I added an example to the documentation

#184

[2015-05-24 19:07] olivierlemasle opened #185 "Bug with IIS 7.0: Invalid attribute startMode for the pool"
I'm using iis cookbook 4.1.1 on Windows 2008 (R1), with IIS 7.0.

When using:

[code]
I get the following error:

    ---- Begin output of C:\Windows\System32\inetsrv\appcmd.exe set config /section:applicationPools "/[name='DefaultAppPool'].startMode:OnDemand" "/[name='DefaultAppPool'].managedRuntimeVersion:v4.0" "/[name='DefaultAppPool'].processModel.logonType:LogonBatch" "/[name='DefaultAppPool'

[2015-05-24 20:55] EasyAsABC123 commented on #185
The issue with that is that they are auto defined when you create the iis pool object since they have default values...

Solutions:
1. Check iis version and add version check to each parameter that doesn't exist in other iis versions
2. Only update if new and not default, this one is tricky since if you changed the default to something else then want to change it back you'd have to manually specif

[2015-05-25 02:19] pvandervelde commented on #161
Just as an FYI. I tested it last week with version 4.1.1. and it still doesn't seem to work. Not quite sure what got unlocked but definitely not the configs that I wanted to have unlocked.

[2015-05-25 18:23] EasyAsABC123 commented on #161
@pvandervelde can you give more detail? what does your recipe look like?

thanks

[2015-05-25 19:44] EasyAsABC123 commented on #161
My assumption is the lack of `/commit:`, which i'll add.

[2015-05-25 22:12] pvandervelde commented on #161
My current recipe looks like this:

    #
    # Cookbook Name:: monitoring_server
    # Recipe:: website
    #
    # Copyright 2015, Vista Entertainment Ltd.
    #
    # All rights reserved - Do Not Redistribute
    #

    include_recipe 'windows'
    include_recipe 'iis'
    # include_recipe 'webpi'

    # Install the ASP.NET 4.5 runtime components
    include_recipe 'iis::mod_aspnet45'

    # In

[2015-05-26 02:02] EasyAsABC123 commented on #185
please test this version: https://github.com/opscode-cookbooks/iis/tree/enhancement-iis_version_detection

You can download it here: https://github.com/opscode-cookbooks/iis/archive/enhancement-iis_version_detection.zip

Let me know and thanks @olivierlemasle

[2015-05-27 02:14] EasyAsABC123 commented on #161
I've been looking at this, the command you are executing via powershell is identical to the command being ran via command line.  Try running your command as a shell_out instead of powershell.  Be aware that this powershell method isn't idempotent so it is running this command every time you run this recipe.

I'll look a little deeper and make sure the appcmd.exe call is correct but it is identical

[2015-05-27 18:05] olivierlemasle commented on #185
Thanks, @EasyAsABC123.

But there is an error with this branch:
[code]

[2015-05-27 18:07] EasyAsABC123 commented on #185
No worries tonight I'll run tests and validate it. I might even have a 2008r1 server install somewhere.  Can add it to my test kitchen, I apologize for the error it's a minor one that I should of caught but I don't have a machine to test with always...

Justin Schuhmann

[2015-05-27 19:29] pvandervelde commented on #161
I'll test it again on my current cookbook. Could well be that something else stuffed up. Will investigate

[2015-05-27 20:24] olivierlemasle commented on #185
No problem!
I'm new to both Ruby and Chef; otherwise, I would have hepled with pleasure.
But I will test the final fix!

Thanks

[2015-05-27 21:49] EasyAsABC123 commented on #185
Never a problem! If you ever want to get a better understanding of how this all works is be happy to walk you through quickly, as this cookbook is a light weight resource provider.  Nothing too complex about it. :). Let me know we can use IRC or Google hangouts

Justin Schuhmann

[2015-05-27 21:54] EasyAsABC123 commented on #161
Thanks, can you look in the providers/section.rb file and then under the unlock function check the command and see if it has commit in it? Let me know, thanks again.

Justin Schuhmann

[2015-05-28 00:46] EasyAsABC123 commented on #185
@olivierlemasle This is updated and tested, please download latest and validate it works for your server.  I didn't have a Windows Server 2008 box so i'm hoping you can validate it fixes your specific issue.

[2015-05-28 16:49] olivierlemasle commented on #185
I will test in the weekend, thanks.

[2015-05-29 01:57] pvandervelde commented on #161
Here's what the unlock function looks like in the version of the IIS cookbook I have

    action :unlock do
      @current_resource.exists = new_value?(doc.root, 'CONFIG/@overrideMode', 'Allow')

      if !@current_resource.exists
        cmd = "#{appcmd(node)} unlock config -section:\"#{new_resource.section}\" -commit:apphost"
        Chef::Log.debug(cmd)
        shell_out!(cmd, returns: new_reso

[2015-05-31 13:19] olivierlemasle commented on #185
@EasyAsABC123, I've finally tested on Windows Server 2008 R1.

There was two remaining problems:

1. Like `startMode`, parameter `logonType` (on [Process Model](http://www.iis.net/configreference/system.applicationhost/applicationpools/add/processmodel)), was introduced in IIS 7.5.

2. `processModel.identityType` was already defined in IIS, but its value ApplicationPoolIdentity (which is the defau

[2015-05-31 15:55] EasyAsABC123 commented on #185
Sounds good, I'm going to likely do one more refactor then it should be good to go

Justin Schuhmann

[2015-06-01 13:15] EasyAsABC123 commented on #185
Everything is good to go, looking into switching over to annotations in ruby so that a lot can be conglomerated into the same attribute (or bound to).  But this is good to go, just need @ksubrama to do a quick code review to get it all pulled to master.

[2015-06-01 13:16] EasyAsABC123 commented on #161
@pvandervelde can you open command line (as administrator) and run your PowerShell command?  this should unlock your sections and prove whether this is wrong or right.

[2015-06-03 04:25] pvandervelde commented on #161
Ok so I just ran a cookbook with the following section in it:

    iis_section 'system.webServer/handlers' do
      section 'system.webServer/handlers'
      action :unlock
    end

    iis_section 'system.webServer/modules' do
      section 'system.webServer/modules'
      action :unlock
    end

    iis_section 'system.webServer/security/authentication/windowsAuthentication' do
      section 'sy

[2015-06-03 13:42] EasyAsABC123 commented on #161
Thank you for these logs, can you run the chef client (fresh) with the debug flag?  This should give us all the required information.

I will also be able to test this tonight and I am also running Win2012R2

[2015-06-03 22:47] spuder opened #189 "Question - How to set mime type per application"
Very related to https://github.com/opscode-cookbooks/iis/issues/145

How do you set a mime type at the application level (instead of the root level) ?

[2015-06-03 22:59] EasyAsABC123 commented on #189
So as I truly believe Chef believes in CD (Continuous Delivery) I don't think Application Level/Website Level are a good idea as it actually creates a Web.Config file.  This file should likely already be created and deployed via another method.

So the short answer is, this isn't currently supported.

The longer answer is, i'm not sure this is a good long term plan due to the impact on delivering

[2015-06-03 23:11] EasyAsABC123 commented on #161
I actually don't have time tonight, I will get to this ASAP

[2015-06-04 00:53] spuder commented on #189
I'd like to understand better. How is continuous delivery affected by having web.conf files?

I do have some web.conf files that are managed by chef. Can mime types be specified in the web.configs ?

[2015-06-04 02:27] EasyAsABC123 commented on #189
Yes, for site specific and application specific mime types they are managed in just the standard Web.config in the respective root folder.

You can just put these mimeType and default documents in those web.config.  Because of this I don't now if chef doing this change via a recipe makes sense.

Here's my scenario:
Developer asks for site, and tells you default document
You setup recipe to setup t

[2015-06-04 02:38] spuder commented on #189
Thanks, yes, that makes sense. Either chef should manage the entire file, or not at all.

[2015-06-04 02:38] #189 closed

[2015-06-09 16:07] nhudacin commented on #145
A little late to the party. I love this enhancement idea. In case anyone needs help before this get's into the final release state, this works for us:

[code]

Uses the guard for idempotency.

[2015-06-09 16:45] EasyAsABC123 commented on #145
@nhudacin never to late to the configuration management party :) thanks for posting your solution i'm sure it will help.

[2015-06-17 19:54] kkennedy1 opened #190 "IIS App Pool recycle schedule question"
Hi,

We're using IIS cookbook 4.1.0 and have a question about the behavior of setting an app pool reschedule time.  We are using the 'recycle_at_time' setting to set it, but have found that if there multiple scheduled recycle times already configured for the app pool, they will not be cleared out before setting the value.  I *think* the desired behavior would be that if the existing scheduled time

[2015-06-17 20:42] EasyAsABC123 commented on #190
@kkennedy1 I will have to take a look at it to see if you are correct.  From this short description I think you are

Justin Schuhmann

[2015-06-17 22:08] EasyAsABC123 commented on #190
yes, it appears that it should destroy any previous schedule based on:

[code]

[2015-06-17 22:58] kkennedy1 commented on #190
Ok great, thanks for checking, that’s what we thought.  In the case that there is more than one time scheduled and the recycle time we want to set already exists, it won’t clear them out.  We have a proposed fix and would like to submit a pull request.

From: Justin Schuhmann [mailto:notifications@github.com]
Sent: Wednesday, June 17, 2015 4:08 PM
To: opscode-cookbooks/iis
Cc: Kevin Kennedy
Subjec

[2015-06-17 23:29] EasyAsABC123 commented on #190
Feel free to submit!

Justin Schuhmann

[2015-06-25 16:15] EasyAsABC123 commented on #190
resolved with merge

[2015-06-25 16:15] #190 closed

[2015-06-25 19:47] kkennedy1 opened #192 "IIS App Pool recycle schedule in pool.rb"
This is related to issue #190.  With the recent commit, the problem of being able to determine if the app pool recycle schedule exists works, but if there is more than one schedule configured, for example if someone manually added one, the schedules aren't cleared out.  I have an update to clear out the schedules before setting in the following cases:
- There is more than one recycle schedule set

[2015-06-26 15:43] EasyAsABC123 commented on #192
closed with merge

[2015-06-26 15:43] #192 closed

[2015-06-26 16:00] EasyAsABC123 opened #194 "Allow multiple recycle schedules for pool resouce"
Requirements:
- Should allow a user to define an array of schedules
- Should add and remove accordingly only if items have changed
- Links to #190 and #192

[2015-07-02 02:10] EasyAsABC123 commented on #185
resolved by #195

[2015-07-02 02:11] EasyAsABC123 commented on #145
resolved by #195

[2015-07-02 02:11] EasyAsABC123 commented on #138
resolved by #195

[2015-07-02 16:30] #185 closed

[2015-07-09 19:49] EasyAsABC123 commented on #145
merged to master

[2015-07-09 19:49] #145 closed

[2015-07-09 19:50] EasyAsABC123 commented on #138
merged to master

[2015-07-09 19:50] #138 closed

[2015-07-10 15:25] tylergohl commented on #161
Any progress on this?  Running into the same issue on 2008 r2

[2015-07-10 15:31] EasyAsABC123 commented on #161
@tylergohl I'll look at this over the weekend, but no currently there has been no progress on this.

[2015-07-10 19:26] tylergohl commented on #161
Did a little more digging on this, it looks like the difference is the `overrideMode="Inherit"` versus `overrideMode="Allow"` when running manually.  I don't quite understand why that would be the case though.  As you say - the command that chef is issuing seems to be identical to what I'm manually doing myself with appcmd.

#### Config after a chef-client run
[code]

#### Config after manual unlo

[2015-07-10 19:44] tylergohl commented on #161
Here's the chef-client debug output.  Looks like it thinks it is up to date, even though the `overrideMode` is set to `Deny`:

[code]

[2015-07-10 20:00] EasyAsABC123 commented on #161
Yay the smell of a bug! I'll dig into the on init check here when I get home.  If you feel inclined you, take a stab at it

Justin Schuhmann

[2015-07-15 18:07] EasyAsABC123 commented on #161
@tylergohl if you have a moment please look at the pull request #196 it resolves a command bug that might be the issue as to why it isn't even running the unlock command

[2015-07-15 18:45] tylergohl commented on #161
Interesting - yes that was the one part of that line that looked off to me.  I'll try it on my end.

[2015-07-15 20:45] tylergohl commented on #161
Doesn't look like that fixed it.

I think we might have a logic problem though:

[code]

Correct me if I'm wrong, but shouldn't we either remove the `!` from `!@current_resource.exists` or change the `Deny` to `Allowed` here?

If our anonymous section was set to `Allowed` and we ran this function, `new_value?` would return `true` which `@current_resource.exists` would be set to.

We would then ski

[2015-07-15 23:07] EasyAsABC123 commented on #161
@tylergohl agreed, logic changed, please retest

[2015-07-17 16:50] tylergohl commented on #161
Works, thanks!

[2015-07-17 18:28] EasyAsABC123 commented on #161
@tylergohl happy to hear it, @pvandervelde please verify.

After that this issue will be awaiting code review.

[2015-07-27 22:42] EasyAsABC123 commented on #89
@kbarry-x Closing issue, appears to be resolved.  If you have an example of the issue persisting please re-open.  Thanks

[2015-07-27 22:42] #89 closed

[2015-07-29 21:21] scarolan opened #197 "Testfu example is not clear"
New users might not understand that they have to create the 'testfu' directory first for this to work. Maybe some clarification that the dir must exist would be helpful.

# create and start a new site that maps to
# the physical location C:\inetpub\wwwroot\testfu
iis_site 'Testfu Site' do
  protocol :http
  port 80
  path "#{node['iis']['docroot']}/testfu"
  action [:add,:start]
end

[2015-07-29 21:26] EasyAsABC123 commented on #197
fixed in commit https://github.com/opscode-cookbooks/iis/commit/7128a32904afa092b231dda62c317daf03d91a2e#diff-04c6e90faac2675aa89e2176d2eec7d8

[2015-07-29 21:26] #197 closed

[2015-07-29 21:28] scarolan commented on #197
thank you!!!

[2015-07-29 21:31] EasyAsABC123 commented on #197
@scarolan never a problem, good call too it definitely is a gotcha :+1:...at one point i was going to auto create the application pool and the directory if it didn't exist...then i think i didn't like that i was doing auto-magic...

Definitely something that should of been documented.

[2015-07-30 18:11] #161 closed

[2015-08-06 14:17] electronicalias opened #199 "iis_root errors on 'duplicate collection entry of type 'mimeMap'"
Apologies if this isn't the right place but I've been banging my head against the wall trying to figure out why this isn't working.

I'm using chef-client 12.4.1 (in local mode with -z) and the latest version of this IIS coobook. The windows cookbook is also up to date. The OS is an AWS AMI of Windows 2008 r2.

My code is as follows:

[code]

This runs the first time, subsequent runs do not work a

[2015-08-06 14:31] EasyAsABC123 commented on #199
@electronicalias this is exactly the place to complain about this stuff.

:+1:

I'll launch a win2008r2 box and test this out with vagrant, i'll be using the provided recipe snippet.  Please remember that when "working around" error codes you can just add it to the provider

[code]

[2015-08-06 14:40] electronicalias commented on #199
Thanks and thanks for jumping on this. Not complaining, it's been a good experience so far and I'm a complete novice, both with Chef and Ruby to be honest.

If you mean adding the following:

[code]

I did, got an error message that it wasn't supported:

[code]

Just so you're aware, I've run a set of recipes to get this far, install IIS, features, folders and other software, this is one of the la

[2015-08-11 16:38] spuder opened #201 "Can cookbook set authentication"
Can this cookbook set authentication?

<img width="574" alt="screenshot 2015-08-11 10 10 55" src="https://cloud.githubusercontent.com/assets/242382/9203465/93190324-4014-11e5-9c3e-616e0f6a72fc.png">

I can't tell from the readme if you can set this.

If its not possible, I'd like to open a feature request.
If it is possible, I'm happy to edit the docs once I figure it out.

[2015-08-11 17:20] spuder commented on #201
Sorry for the noise, turns out to be easier than I thought. Documentation improvement on the way.

http://debugging.io/weblog/post/Powershell-how-to-to-change-the-anonymous-identity(IUSR)-to-application-pool-identity-of-an-IIS-website

http://forums.iis.net/t/1152524.aspx?AppCMD+with+anonymous+Authentication

[code]

[code]

Application pool identity

[code]

[code]

[2015-08-11 17:20] #201 closed

[2015-08-11 17:35] EasyAsABC123 commented on #201
I believe it is built into the iis_apppool provider I'll look when I can

Justin Schuhmann

[2015-08-11 18:09] EasyAsABC123 commented on #201
Ah this is suppose to be built into the iis_section but it doesn't work currently.

[2015-08-12 03:40] spuder commented on #201
oh? The above examples work for me (and are natively idempotent)

The only thing it doesn't do is restart IIS (not sure if that is actually need though)

[2015-08-13 13:30] tpetchel opened #203 "Default recipe fails from Test Kitchen"
The default recipe fails from both kitchen-vagrant and kitchen-ec2 drivers on Windows Server 2012 R2.

This gist captures the important parts from the kitchen-vagrant path:
https://gist.github.com/tpetchel/6ba79295ce7af4df563c

The gist shows the full `kitchen converge` run, but to highlight the error:

[code]

I'm using this [Packer template](https://github.com/mwrock/packer-templates) to create

[2015-08-24 21:42] spuder opened #205 "Question - Can cookbook set logging custom fields"
I'm trying to figure out if this cookbook can automate creating a custom logging field.

![screenshot 2015-08-24 15 39 33](https://cloud.githubusercontent.com/assets/242382/9453278/88d1e658-4a76-11e5-8a13-06ff42585a3f.png)

This can be done with the following powershell.

[code]

The cookbook only appears to support appcmd, and not `Add-WetConfigurationProperty`

Is there a way to do this? I'm hap

[2015-08-24 22:22] EasyAsABC123 commented on #205
appcmd.exe set config  -section:system.applicationHost/sites
/+"[name='ContosoSite'].logFile.customFields.[logFieldName='ContosoField',sourceName='ContosoSource',sourceType='ServerVariable']"
/commit:apphost

taken from
https://www.iis.net/configreference/system.applicationhost/sites/site/logfile/customfields/add

should be easy to add

On Mon, Aug 24, 2015 at 5:42 PM, Spencer Owen <notifications@

[2015-08-24 22:46] spuder commented on #205
Thanks @EasyAsABC123 Though it looks like `/+` is not idempotent https://github.com/opscode-cookbooks/iis/issues/89#issuecomment-74165301

[code]

Error
[code]

The only way I was able to work around it, was with `returns [0,183]`
[code]

Using `returns` feels like cheating. Is this still the recommended work around for `/+` with appcmd?

[2015-08-24 23:16] EasyAsABC123 commented on #205
No of course not, a config list would have to run first

Justin Schuhmann

[2015-09-02 19:07] spuder opened #207 "Add support for removing appcmd settings"
Requesting the ability to remove a config using `appcmd clear config ...`

Intended use case, add and remove machine keys

Powershell command to add a machine key
[code]

Chef lwrp to add machine key
[code]

Powershell command to remove machineKey config from machine.config
[code]

Chef lwrp to remove machinekey from machine.config
[code]

I'll admit I've never worked with LWRP's so I'm in a bit o

[2015-09-02 19:28] EasyAsABC123 commented on #207
@spuder I updated my comment, so sorry on the mis-understanding.  I think the simple cleanup should be perfect...Then do a `git rebase -i X` and squash the 3 commits down to 1.

[2015-09-04 11:03] auroaj opened #209 "Add source param to install features from local path."
We want to specify source from which we want to install windows features.
For example, I want to install iis in an isolate network.
IIS and NetFx3 features can be installed from internet, from Windows Update server or from local resource (Examples use dvd). But by default windows_feature uses GPO to select internet/windows update.
In our case we haven't Windows Update server and we have default GP

[2015-09-09 13:29] kenny-evitt commented on #114
@EasyAsABC123 Any updates?

[2015-09-09 15:23] EasyAsABC123 commented on #114
I haven't been able to replicate, there were errors on 2003 windows server but I don't have a copy of that anymore.

[2015-09-09 23:24] spuder commented on #205
Been working on this for a while. I'm unable to figure out how to create a guard based on `appcmd list config`.

Hopefully someone else will figure it out someday. For now, I'm cheating and using `returns[0,183]`. Closing issue.

[2015-09-10 14:30] kenny-evitt commented on #114
@EasyAsABC123 Windows Server 2003 is no longer supported (by Chef), so that seems reasonable to disregard. If you don't have access to a Windows 7 box either, it doesn't seem like there's any reason to keep this open. Anyone else that runs into it can pick from several viable workarounds already mentioned in previous comments.

[2015-09-10 14:31] kenny-evitt commented on #114
@EasyAsABC123 Thanks for looking into this anyways :smile:

[2015-09-10 14:57] EasyAsABC123 commented on #114
@kenny-evitt  I have windows 7 images...non that are chef-kitchen so...if you have one and are willing to share so I can test and resolve i'm more than happy to work on it otherwise the time to solve doesn't seem worth it

[2015-09-10 21:09] kenny-evitt commented on #114
@EasyAsABC123 I don't have an image to share so let's punt on this indefinitely.

[2015-09-10 21:09] #114 closed

[2015-09-23 03:32] drpebcak opened #215 "iis_site - wrong number of arguments"
I'm getting this error when using the `iis_site` resource:

[code]

Here is what my wrapper looks like:

[code]

Any idea what is happening here? I started experiencing this after updating to version 4.1.1 of the iis cookbook.

[2015-09-24 04:01] drpebcak commented on #215
Not 100% sure what was going on, but I resolved it by pulling latest from master.

[2015-09-24 04:01] #215 closed

[2015-10-20 18:58] EasyAsABC123 commented on #209
@auroaj reported as already being in master

[2015-10-20 18:58] #209 closed

[2015-10-21 02:45] EasyAsABC123 commented on #207
merged #208

[2015-10-21 02:45] #207 closed

[2015-10-22 18:31] DivineOps opened #217 "iis_pool config doesn't reset runtime version to No Managed Code"
When I add a new app pool using

[code]

Leaving the `runtime_version` empty and setting `no_managed_code` true then the new pool runtime version is set to `No Managed Code`
However if the pool exists `:config` DOES NOT change the existing runtime version to `No Managed Code`

Also, the `no_managed_code` default is set to false in the provider, but the cookbook description says the default is true

[2015-10-22 19:02] EasyAsABC123 commented on #217
In add it is:
[code]

In config it is:
[code]

configure_application_pool function declaration:
[code]

So the default of `runtime_version` is nothing:
[code]

So the issue appears to be in the logic in config because it is looking for `is_new_managed_runtime_version`

[code]

this is a very complex solution for something that honestly isn't as complex as i've made it.

Thanks for pointing this ou

[2015-10-29 05:25] EasyAsABC123 commented on #217
fixed: https://github.com/chef-cookbooks/iis/commit/a299aa00918b8b53b531f2073eff52d21701c35a

[2015-10-29 05:25] #217 closed

[2015-10-29 05:25] EasyAsABC123 commented on #205
@spuder might add this code to master, going to look into it now.

[2015-11-02 02:13] EasyAsABC123 commented on #71
@e100 it appears using /xml solves this issue for large data results.  Still haven't had time to add 70 bindings...maybe i'll write a .bat script to just do it for me with an increment variable.

[2015-11-02 02:14] EasyAsABC123 commented on #157
@tophercullen hello,
i'm not sure I completely understand the concern or the request.

The referred example is closed and I believe their solution is the same here.

[2015-11-02 02:14] #157 closed

[2015-11-02 16:03] spuder opened #219 "Ability to have iis_config use different command than the name"
As far as I can tell, when using iis_config the resource name is the command. I'd like the ability to give the resource a short name that can be used for 'notifies' and 'subscribes' for cleaner code.

[code]

Instead this would be much nicer

[code]

Looking at the code, I think it would be as simple as adding an optional attribute to the provider. I would love to get some feedback before I dive d

[2015-11-02 16:15] EasyAsABC123 commented on #219
You can already do this:
[code]

[2015-11-02 16:35] spuder commented on #219
Thanks, that was the first thing I tried, but it threw an error that 'cfg_cmd' wasn't defined.

Just tried again and it worked. Must have been a typo on my part.

[2015-11-02 16:35] #219 closed

[2015-11-02 16:45] EasyAsABC123 commented on #219
@spuder happy to help, and yeah I fat finger stuff all the time.  OR the computers are out to get us

[2015-11-02 18:20] EasyAsABC123 opened #220 "iis pool auto_start handling removed"
Fixed in https://github.com/chef-cookbooks/iis/commit/209475b356dd8cc662dc1b80b673b9baab7190bb

[2015-11-02 18:20] #220 closed

[2015-11-04 19:13] hh opened #221 "Document use of ssl bindings, possibly include support for specifying them"
http://www.iis.net/learn/manage/configuring-security/how-to-set-up-ssl-on-iis#SSL
https://msdn.microsoft.com/en-us/library/ms186362.aspx

I couldn't find it in the cookbook or docs, but I was able to get it to work manually.

[code]

We can look at current bindings, and reuse the winrm or rdp cert:

[code]

We'll create a new ssl cert binding to that port:

[code]

Now it shows up, and works.

[co

[2015-11-04 19:18] hh commented on #221
https://github.com/lynx44/windows_ssl#bind_certificate ?

[code]

[2015-11-04 19:59] EasyAsABC123 commented on #221
@hh, this is interesting.

On one hand being able to come into chef iis cookbook and easily build your config is desirable.  On the otherhand, SSL certs aren't made by IIS (appcmd) and they aren't just used for IIS and website hosting.

So although I agree there needs to be documentation on making an SSL certificate and then binding it to a site.  Really the only thing I would consider IIS is bind

[2015-11-18 21:06] JaBurd opened #222 "Unable to add_default_documents using iis_root"
I am attempting to add index.php to my iis setup via the following cookbook directive.  IIS server 8.5 on Windows Server 2012 r2

Perhaps my implementation is off?

    # Add index.php to default documents
    iis_root 'add_php' do
      add_default_documents ['index.php']
      action :add
    end
           ================================================================================

[2015-11-18 22:45] EasyAsABC123 commented on #222
running tests right now, brb

[2015-11-18 23:05] EasyAsABC123 commented on #222
@JaBurd good catch currently there is a bug in `iis_root` that makes it 100% broken. Working on it right now

[2015-11-18 23:28] EasyAsABC123 commented on #222
@JaBurd the fix has been created, a new release will be made sortly.
All tests passed - check

Once the build is successful, i'll merge it to master

[2015-11-18 23:29] #222 closed

[2015-11-19 17:04] EasyAsABC123 opened #224 "Proper Test-Kitchen branch for IIS"
- Needs to test important functionality
  - Including:
  - [ ] all providers/resources
  - [ ] all helper functions

This should be done before the next major release to maintain sanity of the codebase.

[2015-11-19 17:05] EasyAsABC123 commented on #71
@e100 closing issue, re-open if you have a metabase file that can show this is still and issue when using /output:xml

[2015-11-19 17:05] #71 closed

[2015-11-25 20:57] hh opened #225 "iis_app support for multiple apps to a single site"
Currently we can't add an app to an existing site:

[code]

[code]

[ if app already exists - create does nothing](https://github.com/chef-cookbooks/iis/blob/master/providers/app.rb#L43)

These commands work, but our iis_app provider would currently never execute something like this.

[code]

It might be clearer to do something like:

[code]

or

[code]

[2015-11-26 00:06] EasyAsABC123 commented on #225
@hh so in order:

[code]

[2015-11-26 01:58] hh commented on #225
Let's leave aside the different declaration.

I'm having trouble using the existing syntax to add an application to the 'Default Web Site'

[code]

[2015-11-29 08:24] EasyAsABC123 commented on #225
just ran a test-kitchen with this:

[code]

it worked 100% and everything is correct in IIS, can you please provide me with the recipe you are running and i'll attempt to replicate the issue.

On a side note, sorry for the delay but thanksgiving takes a lot of my time

[2015-12-01 16:25] spuder opened #226 "Question - Can cookbook deploy ssl cert?"
It is common to offload your ssl encrypt/decrypt to a load balancer. How would you add a ssl certificate directly to a node?

Looking at the cookbook, it doesn't appear to natively support adding a ssl certificate.

http://www.awesomeideas.net/post/How-to-configure-SSL-on-IIS7-under-Windows-2008-Server-Core.aspx

Having never added a cert before, I'm trying to determine best practices for deployin

[2015-12-01 16:40] EasyAsABC123 commented on #226
Similar to #221

[2015-12-01 17:02] #226 closed

[2015-12-01 17:03] EasyAsABC123 commented on #226
@spuder please move your good statement and knowledge to that issue

[2015-12-01 17:44] EasyAsABC123 commented on #199
This bug does exist it appears to be an issue with multiple `iis_root` providers being used in a recipe.  I'll have to look into making this better.

[2015-12-01 17:46] EasyAsABC123 commented on #221
From #226 `certutil` is used to generate the ssl certificates...however this isn't in older versions of windows just 2008 and newer

[2015-12-01 17:57] spuder commented on #221
+1 Would like to see an easy way to add the ssl cert with the cookbook.

Currently all of our webservers offload the SSL cert to the F5 loadbalancer, however for testing VMs, we want them to have the cert locally so it doesn't require the LB.

[2015-12-02 02:09] tophercullen opened #227 "Can not install dotnet 4.5.2 over winrm"
All the ways that i know of to install dotnet 4.5.2 require WUSA, which is not allowed for remote shells/connections. This includes the "offline" installer. As such it is not possible to install it using normal means.

http://blogs.technet.com/b/sus/archive/2012/10/30/kb-windows-update-standalone-installer-wusa-returns-0x5-error-access-denied-when-deploying-msu-files-through-winrm-and-windows-remo

[2015-12-02 03:02] EasyAsABC123 commented on #227
@tophercullen .net isn't part of iis, https://supermarket.chef.io/cookbooks/ms_dotnet45

it is a separate cookbook, as it should be since neither require the other

[2015-12-02 03:02] #227 closed

[2015-12-02 03:09] Rovastar commented on #205
Been lurking here are ages. For this one it is an IIS8.5 and above only feature if you add this you need probably need to do some check before you add it.

[2015-12-02 03:19] EasyAsABC123 commented on #205
@Rovastar https://github.com/chef-cookbooks/iis/blob/master/libraries/helper.rb#L93 is the function for this, thanks for the intel on iis 8.5 and higher

[2015-12-02 06:34] tophercullen commented on #227
I don't think that is entirely true. In order to register new version of .net, IIS needs to be installed and you would need to know the path/version of the framework. I'm also fairly certain you can not install the .net mods via the features without a framework being installed. I can't confirm as all the servers I have access to have it installed as part of the base image.

[2015-12-02 15:41] calebih opened #229 "IIS 8.5 Idle Timeout Action support"
In IIS 8.5 and above, Idle Timeout Action is introduced.
http://www.iis.net/learn/get-started/whats-new-in-iis-85/idle-worker-process-page-out-in-iis85
Default is Terminate, but Suspend is an option that allows idle app pool to wake up quickly, eliminating long load time.
Can we add this feature into the cookbook?

[2015-12-02 16:22] EasyAsABC123 commented on #229
@calebih support has been added in the above pull request, please verify this branch by downloading the [idle_timeout_action branch](https://github.com/chef-cookbooks/iis/tree/feature-idle_timeout_action).

Once it passes tests and you conclude it is working we'll move it to master

[2015-12-02 22:57] #229 closed

[2015-12-03 17:56] hh commented on #221
I've actually started using windows_certificate_binding though you have to currently write two resource (one with action :delete with a guard to not delete the desired one, and another with :create) : See chef-cookbooks/windows#313

[2015-12-03 19:49] spuder commented on #221
Thanks, I'm studying this before I try and implement it.

When you say you need 2 resources, what is that for?

[2015-12-03 19:49] Annih commented on #225
Hello @hh,

From what I understand what you want to achieve is to configure a virtual app for a specific iis site.
1. If the app does not exist you want to create it
2. If the app already exist you want to be sure it's properly configured.

So I think what you want to achieve is simply this:
[code]
This way, the `:add` action will take care of case 1 and `:config` action of case 2.

Is this helpfu

[2015-12-04 03:45] carpnick opened #231 "New IIS PowerShell Cookbook"
@pburkholder suggested I opened something here, maybe put in the readme.  But before opening the PR - wanted to see if you wanted the link.

https://github.com/ebsco/iisposh

We were able to make the core pieces idempotent, for any setting by using WebAdministration module from powershell.  This implementation is entirely pre-DSC, and is currently in use on 2008 R2. It is not fully a drop-in, sinc

[2015-12-04 18:28] EasyAsABC123 commented on #231
@carpnick it looks nice, i'm not sure without chef's help to figure out how to add this without adding the requirement to all users to have powershell installed.

Other than that I like it, some duplicate effort to which the only danger I see is that some features might operate differently.  Basically the DRY coding practice.

We should discuss it though since Powershell offers some more abilities

[2015-12-04 23:52] pburkholder commented on #231
READMEs should be useful, and in that spirit, it would useful to reference an alternative, if incompatible, approach. I'm for updating the README.

[2015-12-05 00:07] carpnick commented on #231
@EasyAsABC123  - as far as I am aware Windows 7/Server 2008 and above comes with native powershell 2 or above.  Unless I am mistaken.  And most Windows Sys admins make it a point to install powershell for management purposes.  Agreed not all, but just my opinion

Also the API for the resources, as written is incompatible.  With that said, if you would like to have an IRC based discussion or anythi

[2015-12-07 01:54] EasyAsABC123 commented on #231
@carpnick absolutely put it in the readme that doesn't bother anything.  I am more curious how we can build this cookbook to allow for multiple engines and an option to change which engine to use.

appcmd/powershell/wmi

[2015-12-07 14:09] carpnick commented on #231
Depends if we want the APIs to be compatible or not.  In other words, do we want to keep the resource definitions you have set up for the current resources in this cookbook.  We really have a couple options:

* Keep resource definitions the way they are - provide providers that use the different technologies.  Pros - one interface for users. Cons - Have to accept least common denominator for inter

[2015-12-07 21:37] EasyAsABC123 commented on #231
Each provider could simply have another attribute of `:engine` with the options of `:appcmd, :powershell, :wmi, :etc` the only issue I can see is support for all features will need to be in each engine...or perhaps an if statement where it can fall back to other engines if needed and available or error with engine does not support this action.

For now we can simply add it to the readme as an alte

[2015-12-08 14:50] pierrecdn opened #232 "iis_module support for native modules"
### Environment:
Windows/2008r2 and 2012r2
IIS/7.5 and 8.5

### Scenario:
Trying to install a native module, provided through a .dll
According to http://www.iis.net/learn/get-started/introduction-to-iis/iis-modules-overview, we have to install the native library before being able to enable it either for a specific application or globally

### Steps to suceed:
Provide `iis_module :install` and `iis

[2015-12-08 15:35] EasyAsABC123 commented on #232
@pierrecdn whenever you are ready do a PR so we can bring this into master.

[2015-12-08 16:25] EasyAsABC123 commented on #232
merged

[2015-12-08 16:25] #232 closed

[2015-12-09 02:02] carpnick commented on #231
PR opened for alternatives for now.  I think we should figure out the future of IIS.
* Do we want to support this up until pre-dsc.  Then move over to CWebadministration or XWebadministration.

Just come up with a game plan.  Put our automation efforts into what is in the future.  Just like we created the IISposh cookbook as a point solution, I would like to get everyone's input and come up with a

[2015-12-09 02:07] EasyAsABC123 commented on #231
auto-closed due to merge

[2015-12-09 20:25] mwrock commented on #231
I do think we need to support pre dsc until 2k8r2 is EOLd in 2020. What a beautiful day that will be! I think all the 3 major iis apis are compatible with all currently supported is versions but that will change soon with nanoserver. I have not played with iis on nano but I bet appcmd is gone.

If I were starting from scratch today I'd use the web administration module which I believe is the route

[2015-12-14 17:37] smurawski commented on #231
@mwrock, I don't think so.  2008R2 supports wmf5.  It'd be a breaking change of course, but I'm onboard cutting over to DSC sooner rather than later.

Side note, the webadministration module is a great ball of suckatude as well and they are trying to create a new module to manage IIS, but that effort (last I checked) was still thin wrappers around xml manipulation.

[2015-12-14 17:57] mwrock commented on #231
Yeah upgrading 2k8r2 to wmf 5 is ideal, but I remember alot of pain years ago with breaking scripts that were not ps > 3 friendly. Likely an edge case though, but it would be nice to at have a non-DSC option available.

[2015-12-14 18:01] EasyAsABC123 commented on #231
@mwrock and @smurawski can you think of an option to add multiple "engines" without having disparity in features?

I am thinking we could make the cookbook "smart" to pick the engine that is "best" for the system it is on and then run with that.  Let me know if you can think of a way of keeping the code clean and practicing DRY principles

[2015-12-14 18:22] mwrock commented on #231
Its been a while since I have done much IIS scripting but do the different engines support more features over the other? If not its hard to justify devoting many cycles toward multi engine efforts unless one proves to be so much easier to work with than the other.

Ideally, consumers of the cookbook should not need to know the underlying implementation details. So I'd try and use as few "engines"

[2015-12-14 18:24] EasyAsABC123 commented on #231
@mwrock absolutely, unfortunately at the moment that is appcmd, in the future it will be PS and DSC.  Perhaps a new branch should be made with PS and DSC as the engine so that in the future we can just make that master...but that's just a thought any ideas are welcome

[2015-12-14 18:44] smurawski commented on #231
@mwrock @EasyAsABC123 Maintaining multiple engines is great in theory but will quickly diverge.  Creating a branch for DSC as a future breaking change (major version bump) after feature parity is a good idea.  That older version would still maintain functionality for those who need it and we can press on with a newer version to support current technologies.

Side note: DSC doesn't do anything magi

[2015-12-14 18:46] EasyAsABC123 commented on #231
@smurawski good to know, so mainly you'd like to see the new technology for iis to be what?

[2015-12-14 18:48] carpnick commented on #231
Looks like WMF5 production ready, will being [coming soon](http://blogs.msdn.com/b/powershell/archive/2015/08/06/windows-management-framework-wmf-5-0-roadmap.aspx)

[2015-12-14 18:49] carpnick commented on #231
As far as container support etc.  Only time will tell.  I would be shocked if msft released RTM containers without at least some basic DSC functionality built in.

[2015-12-14 18:50] EasyAsABC123 commented on #231
Did they fix the CPU issue with WMF that existed in win2003?

[2015-12-14 18:57] smurawski commented on #231
@EasyAsABC123 I'd like to see things move towards DSC resources and pushing more of the feature work to xWebAdministration (eventually)

@carpnick There should be a DSC LCM in windows containers (from the 10 minutes of playing I did on TP3).

@EasyAsABC123 Windows 2003?  Not supported anymore, don't care about it. :)

[2015-12-14 19:11] EasyAsABC123 commented on #231
@smurawski I think you missed the point, WMI used to have a bug where it would randomly consume 100% of the CPU.  There was no fix for this bug (2 years ago) has this been resolved?

[2015-12-14 20:03] smurawski commented on #231
@EasyAsABC123 That was a bug on Server 2003, which I haven't seen in any of the later OSes/versions of the WMF.

[2015-12-14 20:09] EasyAsABC123 commented on #231
@smurawski awesome! Thanks for the communication

[2015-12-23 01:03] WeekendsBull opened #236 "FATAL: NameError: iis_root "xxx" had an error: NameError: No resource, method, or local variable named `was _updated' for `LWRP provider iis_root from cookbook iis"
Hi,

I'm trying to set up MineTypes in IIS 7.5 using IIS cookbook from master branch and I'm trying to add mine types as below.

[code]

But I ran into the issue as below saying was_updated is an error as below.

[code]

I saw from other links that the current iis cookbook should work to add Mine Type  in Chef and is there anything I have missed?

Here is my compiled error
[code]

[2015-12-23 04:45] EasyAsABC123 commented on #231
Closing, will create a branch with DSC code when code is written :)

[2015-12-23 04:46] EasyAsABC123 commented on #236
@WeekendsBull i'm on my windows desktop and can't do much as far as testing, i'll look at this hopefully this week.

Can you post the full StackTrack?

[2015-12-23 19:25] WeekendsBull commented on #236
@EasyAsABC123 Sorry for being delayed in my end. Here we go and please forgive me replacing the company related name to xxxx.

Starting Chef Client, version 12.5.1
Compiling Cookbooks...
Recipe: aws::default
  * chef_gem[aws-sdk] action install (up to date)
Recipe: windows::default
  * chef_gem[win32-api] action install (up to date)
  * chef_gem[win32-service] action install (up to date)
  * chef_

[2016-01-08 17:54] ericrlarson opened #237 "The iis_app :config action is not documented in the README.MD file."
The iis_app :config action is not documented in the README.MD file.

It should be mentioned there.  If I had not happened to be reading the code I would not have known that I can have the resource configure an existing application.

[2016-01-08 17:58] EasyAsABC123 commented on #237
it appears to be documented right here:
https://github.com/chef-cookbooks/iis#iis_app

[2016-01-08 18:01] ericrlarson commented on #237
No it is not.  Here is what I see.

[code]

The add and delete actions are there but the config action is not.

[2016-01-08 18:02] ericrlarson commented on #237
If you look at the code here https://github.com/chef-cookbooks/iis/blob/7886cad1d94bd232184e9d23765ec7129ad2ad40/providers/app.rb you will see that the config action is implemented.

[2016-01-08 18:02] EasyAsABC123 commented on #237
Directly from the readme.md file
[code]

[2016-01-08 18:04] EasyAsABC123 commented on #237
resolved in #d323559cfd2f4743b9ca188a21a420f906816af2

[2016-01-08 18:04] #237 closed

[2016-01-09 00:14] echandradhas opened #238 "Add_mime_maps is throwing compile error"
This resource block to add a new mime type is failing with some compile error.

[code]

Here is the error.

[code]

[2016-01-12 23:39] hounddog22030 opened #239 "Error: Processing windows_feature[IIS-WebServerRole] action install (iis::default line 25) [BUG] Segmentation fault"
I am receiving an error during the iis install.

I am using chef-client in local mode.

I have packaged my cookbooks using Berks.

Berks is pulling in the following cookbooks (all are set for version : ">= 0.0.0") :
chef_handler
dotnetframework
iis
s3_file (probably from my own cookbooks)
windows

The log is as below.

This was working and all of sudden is not working and it's going against the sa

[2016-01-13 00:09] hounddog22030 commented on #239
I upgraded from chefdk 0.4 to chefdk 0.10 and the issue has *currently* subsided.  i'll leave this open to see if it continues to work.

[2016-01-14 14:50] EasyAsABC123 commented on #239
Closing, open if it occurs again

[2016-01-14 14:50] #239 closed

[2016-01-15 16:08] jamestoyer opened #240 "Unable to set app pool to be "No Managed Code""
When I create (or update) an App Pool to have a property of `no_managed_code = true`, I get an invalid .NET CLR versoin. My App Pool definition is:

[code]

This sets the App Pool to (taken from `applicationHost.config`):

[code]
I did the Chef run with a log level of default and I've attached the part where the App Pool is created. The error seems to come when `configure` method is called. For no

[2016-01-15 17:02] EasyAsABC123 commented on #240
Resolved by #e54eada29638cc150da1d587fb32560db5271a35

[2016-01-15 17:02] #240 closed

[2016-01-15 17:05] EasyAsABC123 commented on #225
Closing due to unable to replicate

[2016-01-15 17:05] #225 closed

[2016-01-15 17:12] #236 closed

[2016-01-15 17:12] EasyAsABC123 commented on #238
Resolved by 11b30dadf74dc97cc811560e64c5f89fb5b3974f

[2016-01-15 17:12] #238 closed

[2016-01-19 13:45] hh commented on #225
I wasn't aware of being able to pass multiple actions to a resource. Thanks @Annih

[2016-01-19 13:56] hh commented on #221
[code]

[2016-01-19 15:00] EasyAsABC123 commented on #221
@hh feel free to add this to the readme.md under advanced in a PR and i'll move it to master

[2016-01-22 10:48] Sergej-Popov commented on #203
Having exact same issue. Vagrant + Windows Server 2012 R2 built with packer.
Confirming it fails with standard `chef_zero` provisioner.

[2016-01-22 11:59] Sergej-Popov commented on #203
After reading through source code found this. `iis::default` only installs `Web-Server`. In win server 2012 r2 this is only shell feature and doesn't install actual IIS. User of cookbook can override `['iis']['components']` attribute to provide sub-features. That would have been fine but cookbook uses `dism` utility, which asks to provide windows source file. At this point I decided it is much eas

[2016-01-22 12:11] EasyAsABC123 commented on #203
actually by default `windows_feature` uses `\online` so from http://www.iis.net/learn/install/installing-iis-85/installing-iis-85-on-windows-server-2012-r2

[code]

is a list of all the features possible for IIS 8.5 in windows server 2012.  These could easily be turned into an array of strings for the
[code]

Let me know which features you feel are required (i don't have the time to test i imagine

[2016-01-22 12:50] Sergej-Popov commented on #203
@EasyAsABC123 yes that's right minimum required would be `"IIS-WebServerRole", "IIS-WebServer`, but if I set them `default['iis']['components'] = ["IIS-WebServerRole", "IIS-WebServer"]` at the moment I get

[code]

And from dism log:

[code]

[2016-01-22 13:04] EasyAsABC123 commented on #203
that's extremely interesting, if you manually execute that command do you get the same result?
outside of chef
[code]

i'm wondering if it is the /All flag causing the issue

[2016-01-22 13:20] Sergej-Popov commented on #203
hmm, manually worked just fine:

[code]

[2016-01-22 13:22] Sergej-Popov commented on #203
@EasyAsABC123 also note all of that is running through kitchen on vagrant/vritualbox

[2016-01-22 13:31] EasyAsABC123 commented on #203
i think the issue is this...it is `.each`...

[code]
which means that it likely installs them backwards...
the command i gave you installs both at once...maybe?
so on a fresh machine try running these commands
[code]

my guess is that the `.each` is backwards

[2016-01-22 13:34] Sergej-Popov commented on #203
I have just tried `dism.exe /online /enable-feature /featureName:IIS-WebServer /norestart  /All`
/All flag takes care of parent `IIS-WebServerRole`. And it ran fine.

[2016-01-22 13:35] EasyAsABC123 commented on #203
you are running from system32 but chef seems to be running from C:\Windows\sysnative\dism.exe

[2016-01-22 13:37] Sergej-Popov commented on #203
C:\Windows\sysnative\ doesn't exist

[2016-01-22 13:40] EasyAsABC123 commented on #203
perhaps...i suppose it has to be since i took it from your error:
[code]

not really sure then.

[2016-01-28 20:17] surrealchemist opened #241 "Unlock attribute within section"
In some cases you may need to unlock an attribute (this is IIS configuration attribute I am talking about not chef attribute) within a section in the configuration editor, but I only see options to unlock a section.

For example, in my case I need to go into "system.webServer/httpErrors" and unlock the "defaultPath" attribute so the application can override it. It doesn't look like appcmd has a wa

[2016-01-29 14:26] SteveLowe opened #242 "iis_pool uses case-sensitive comparison for name"
The iis_pool resource treats app pool name as case sensitive, but it is not.

If the app pool you are trying to create/edit already exists, but with a different case name, iis_pool will try to create a new one with the new case name. This fails as appcmd will report the pool already exists.

Chef reports this error:
[code]

Looking at the code, iis_site suffers from the same problem.

[2016-01-29 15:30] #242 closed

[2016-02-01 21:02] mynamewastaken commented on #236
@EasyAsABC123 do you know (roughly) when you'll be releasing 4.1.6 that fixes this issue? Just trying to get a rough timeframe so I know whether to temporarily fork or not. Thanks for fixing it!

[2016-02-01 21:12] EasyAsABC123 commented on #236
@mynamewastaken I have released it as far as I can.
@tas50 Can you please release [v4.1.6](https://github.com/chef-cookbooks/iis/releases/tag/V4.1.6)

[2016-02-09 16:43] EasyAsABC123 commented on #231
This is the current direction of this cookbook

[2016-02-10 11:00] ruicovelo opened #246 "SNI: Server Name Indication support"
As far as I can tell, there is no support for sslFlags and therefore no support for Server Name Indication.

Would you like to have it? I could have a crack at it since I need it for myself.

[2016-02-10 15:04] EasyAsABC123 commented on #246
@ruicovelo you are absolutely correct, currently this cookbook contains no SSL cert abilities and thereby doesn't support SNI either.  Feel free to take a swing at it and then submit a pull request

[2016-02-12 20:01] youngjl1 opened #247 "Can't set recycle_at_time to default"
By default IIS does not recycle at a certain time. It would be nice to be able to enforce that by setting recycle_at_time to :default or something.

[2016-02-12 20:18] youngjl1 commented on #247
To clarify, I don't see any automated way of clearing out a recyle_at_time once it's been set.

[2016-02-12 20:26] EasyAsABC123 commented on #247
@youngjl1 so you want to set a recycle_at_time for a specific application pool?

And you want a what to clear them?

[2016-02-16 02:23] youngjl1 commented on #247
I guess I want a way to make sure there is no recycle time set, a way to enforce a certain state. Right now if someone sets a recycle time (through IIS cookbook or manually) there's no way in IIS cookbook to reset to default state where there is no recycle time.

Right now recycle_at_time accepts a string "d:hh:mm;ss." I was suggesting something like you set it to :default and it clears out any ex

[2016-02-16 06:22] EasyAsABC123 commented on #247
@youngjl1 if you could test the added functionality in the new branch it would be appreciated.  From there it will be merged to master if successful.

Thanks

[2016-02-17 17:28] #247 closed

[2016-02-18 23:34] stuartpreston opened #249 "iis_site :config action not idempotent (Windows 2012 R2/IIS 8.5)"
Looking at https://github.com/chef-cookbooks/iis/blob/master/providers/site.rb#L143-L145 where the output from appcmd is inspected, idempotency cannot be achieved:

[code]

All three of these always return **true** - this is because the xpath is wrong (there are two ```<site>``` elements and the logFile element is called ```logFile```, not ```logFiles```, as shown in the following output:

PS C:\w

[2016-02-19 00:02] EasyAsABC123 commented on #249
Good catch! I never used the feature so I wouldn't know if that is correct.  Looks like the right fix, do some testing and I'd love a PR

Justin Schuhmann

[2016-02-19 14:54] #249 closed

[2016-02-25 16:30] Jakauppila opened #251 "Handling failures with iis_config"
I'm using the _iis_config_ resource to define a periodic recycle time with the following:

[code]

This works the first time, but if I run the recipe again once it's already configured, I get the following error:

[code]

What's the best way to handle this error?

[2016-02-25 16:39] EasyAsABC123 commented on #251
`iis_config` is not idempotent, meaning everytime chef-client runs (30
minutes) it will be attempting to re run the above command.

a lot of people are using powershell to protect this with an if, but for
your request, it sounds like the scheduling logic needs to also be in
`iis_root` and not just `iis_pool` with regards to `recycle_at_time`.

On Thu, Feb 25, 2016 at 11:30 AM, Jared Kauppila <noti

[2016-02-25 16:46] Jakauppila commented on #251
Okay, guess I didn't realize it wasn't idempotent.

Is there any plans to add an additional provider that utilizes the *-WebConfigurationProperty cmdlets for the resources or do I just need to roll my own _powershell_script_ for it?

[2016-02-25 16:48] EasyAsABC123 commented on #251
The current plan is to build a new system completely using the DSC from
microsoft which wraps the appcmd and powershell.  This branch isn't started
yet, but will be coming in the future,  in the meantime adding this to
`iis_root` isn't a huge task if that is the request.

On Thu, Feb 25, 2016 at 11:46 AM, Jared Kauppila <notifications@github.com>
wrote:

[2016-02-25 16:59] Jakauppila commented on #251
Yeah, that'd probably be the easiest thing to do right now.

[2016-03-01 17:59] spuder opened #253 "Deprecated feature used, fix before chef 13"
In testing the chef-client 12.8.0 prerelease (12.7.2 is the current latest stable), I'm getting the following warnings about deprecated features.

[code]

The offending line is here:

https://github.com/chef-cookbooks/iis/blob/master/providers/vdir.rb#L123

And the line in chef is here:

https://github.com/chef/chef/blob/a030711a57e126f58b2e897c915d430e67cb7d13/lib/chef/property.rb#L276

I've spen

[2016-03-02 18:12] EasyAsABC123 commented on #253
it appears that application_name is a reserved keyword in chef 13.  the fix
would be simply to change this property name to `name` or something else

On Tue, Mar 1, 2016 at 12:59 PM, Spencer Owen <notifications@github.com>
wrote:

[2016-03-03 17:39] spuder commented on #253
From my testing, it appears that more than a simple rename is needed.

I changed all instances of `application_name` to `derp_name` with the same results.

    - c:/chef/local-mode-cache/cache/cookbooks/iis/providers/vdir.rb:123:in `load_current_resource'     

This will take more investigation.

[2016-03-03 18:10] EasyAsABC123 commented on #253
Ah this is because we are calling:
`@current_resource.application_name(application_name_check)`
which could end up being
`@current_resource.application_name(nil)`
which changes the type of
`@current_resource.application_name`
however it appears it is detecting the type wrong since it is actually just a string.

[2016-03-03 18:34] spuder commented on #253
Adding a final `else` eliminates the error

[code]

[2016-03-03 18:36] EasyAsABC123 commented on #253
Looks good to me, I think all we need is the else not the name change.  Put in a pull request whenever you verify.

[2016-03-03 18:37] EasyAsABC123 commented on #251
Closing as not fixing in this version

[2016-03-03 18:37] #251 closed

[2016-03-03 23:06] #253 closed

[2016-03-06 06:20] spuder commented on #241
appcmd is able to do locking / unlocking. I'm not sure if this is the same unlocking that you are referring to.

https://github.com/chef-cookbooks/iis/pull/208#issuecomment-137277938

Eventually I'd like to add more of the appcmd commands. If appcmd unlock works the same as Remove-WebConfigurationLock it should be a pretty feature to add.

[2016-03-06 06:27] spuder opened #256 "Add more appcmd commands"
Placeholder issue to add more appcmd commands.
https://github.com/chef-cookbooks/iis/pull/208#issuecomment-137277938

appcmd supports all of the following.

- [ ] list
- [x] set
- [ ] search
- [ ] lock
- [ ] unlock
- [x] clear
- [ ] reset
- [ ] migrate

Some of these would probably never be used. `lock`, `unlock` , `list` and maybe `reset` are the more useful of the bunch.

[2016-03-09 01:23] kalapakim opened #257 "Maximum File Size"
### I'm trying to set the Maximum File Size (in bytes) for the default website.

**The following is how I'm trying to do it..**
[code]

**I've also tried like:**

[code]

**either way, the setting is not set...**

![image](https://cloud.githubusercontent.com/assets/6277786/13622232/f19a83a2-e562-11e5-95e8-c4f232721681.png)

**Please let me know what I'm missing.**

Thank You!!

[2016-03-09 18:38] EasyAsABC123 commented on #257
@kalapakim what size are you trying to set the file to? It has to be greater than 1MB and less than 4GB...it is in bytes (might change this to MB for simplicity...

So if you want to set it to say 4MB it would be:
[code]

this should work
1024 * 1024 * 4 = 4MB

[2016-03-09 18:40] EasyAsABC123 commented on #257
Looks  like rubocop  likes every 3 digits to be separated with a `_`

[2016-03-09 18:46] kalapakim commented on #257
You know what I figured it out, I was trying to verify it's settings in the UI and found that i would be in the applicationHost.config file, which was getting set correctly. I just thought it would be reflected in the Logging view of the UI of IIS Manager. Thanks!!!

[2016-03-09 19:52] EasyAsABC123 commented on #257
Sounds good, closing this issue...feel free to open it back up if something changes

[2016-03-09 19:52] #257 closed

[2016-03-17 08:47] runningman84 opened #259 "Deprecated features used"
please fix this:
[code]

[2016-03-17 18:53] #259 closed

[2016-03-18 19:21] spuder opened #261 "Not a valid unsigned integer"
This commit caused a regression in my test cluster

https://github.com/chef-cookbooks/iis/commit/ba842eab7e00b026d80010092fed9bd27891bca0

[code]

[2016-03-18 19:33] spuder opened #262 "Add more tests"
It would be great if the cookbook had some more tests to catch some regressions.

 - [x] unit tests
 - [ ] integration tests with appveyor

http://www.hurryupandwait.io/blog/run-kitchen-tests-in-travis-and-appveyor-using-the-kitchen-machine-driver

[2016-03-18 19:41] spuder opened #263 "tag cleanup"
The git tags are mildly inconsistent.

4.1.2 and 4.1.3 don't have the 'v' in front of them.

4.1.6 has a capital 'V' instead of the more traditional lowercase 'v'. Not sure if that is on purpose.

While the git commandline is case insensitive, github tag sorting is case sensitive.

![screenshot 2016-03-18 13 38 19](https://cloud.githubusercontent.com/assets/242382/13889938/b909ba0e-ed0e-11e5-8e50-

[2016-03-18 19:43] tas50 commented on #263
Unfortunately once the tags are created we really can't remove them.  There are more than likely users out there pinned to the old tags.

[2016-03-18 19:43] #263 closed

[2016-03-18 19:44] spuder commented on #263
What about adding a new tag "v4.1.6" that points to the same commit as "V4.1.6". That way it would atleast show up in order in github.

[2016-03-18 19:52] spuder opened #264 "v4.1.6 has wrong metadata.rb"
4.1.6 still has 4.1.5 inside the metadata.rb. See this commit:

https://github.com/chef-cookbooks/iis/blob/V4.1.6/metadata.rb#L7

So if you are using chef-zero, or pointing your berks to 4.1.6 via git tags, you actually get 4.1.5

[2016-03-18 19:59] EasyAsABC123 commented on #261
i think to solve this new issue we need to do a floor to the value, @spuder want to give that a try?

[2016-03-18 20:10] spuder commented on #261
Indeed. 'floor' fixes the issue. PR incoming.

[2016-03-22 18:30] #261 closed

[2016-03-22 22:58] spuder opened #266 "smp_processor_affinity_mask is wrong value type"
[code]

[2016-03-22 23:20] #266 closed

[2016-03-24 19:03] fuel-wlightning opened #268 "Default Value for smp_processor_affinity_mask invalid"
When running a php cookbook which depends on iis, you get the following running kitchen converge:

This is using 4.1.6 version of iis cookbook. This happens regardless of iis being utilized (outside of including the php cookbook)

[2016-03-24 19:07] EasyAsABC123 commented on #268
This is fixed in master #267 #266 #265

[2016-03-25 17:54] EasyAsABC123 commented on #264
Updated to v4.1.7, closing this as there isn't much I can do and v4.1.6 has multiple bugs that are resolved in 4.1.7

[2016-03-25 17:54] #264 closed

[2016-03-25 17:55] EasyAsABC123 commented on #256
definitely love this idea, feel free to add them in small commits or whole groups.  Let me know, i'm going to start working on the DSC branch that was requested.

[2016-03-25 17:58] tas50 commented on #264
We had some metadata issues.  Sorry about that

[2016-03-25 18:02] EasyAsABC123 commented on #241
@surrealchemist if this fixes it
[code]

then the chef code would be
[code]

[2016-03-28 16:47] spuder commented on #268
I'm still seeing this in 4.1.7

[2016-03-29 01:43] #262 closed

[2016-03-30 20:06] artisticcheese opened #270 "AppPoolDefaults is missing from configuration options"
Hello,

Please add option to configure Application Pool Defaults which is set at server level inside <system.applicationHost><applicationPoolDefaults> node.
This is what by default newly created application pool will inherit settings from.

[2016-03-31 15:11] spuder opened #271 "Push to supermarket"
Github has version 4.1.7
Supermarket is only at 4.1.6

Any plans to push 4.1.7 ?

[2016-04-01 08:22] jesperrojestal commented on #268
Also seeing on master branch from php cookbook on linux that has it as dependency. Maybe 64-bit system related?
Also on 64-bit 0xffffffff (all 32 bits masked) are Fixnum, Bignum starts at 2**62 for some reason for Fixnum. Float on the other hand goes all the way to 2**1023.0 without resulting in Float::INFINITY and will never be Bignum on the other hand.

[2016-04-01 13:53] EasyAsABC123 commented on #268
sounds like the solution is to change these to floats

[2016-04-01 13:54] EasyAsABC123 commented on #271
@spuder i don't control the supermarket version, @tas50 normally pushes it.  But he might be doing any number of things.

[2016-04-01 15:53] spuder commented on #268
Indeed, float does get rid of the warnings.

Should the attribute take both BigNum and Float, or just Float?

bignum and float

    attribute :smp_processor_affinity_mask, kind_of: [BigNum, Float], default: 4_294_967_295.0

float

    attribute :smp_processor_affinity_mask, kind_of: Float, default: 4_294_967_295.0

[2016-04-01 15:56] EasyAsABC123 commented on #268
Float is fine just make sure we do a floor still, add that PR whenever you can

[2016-04-01 16:10] #268 closed

[2016-04-06 19:09] spuder commented on #271
@tas50 could we get a supermarket push?

[2016-04-11 16:48] spuder commented on #271
The smp_processor mask fix didn't make it in time for 4.1.7.

Could we cut a 4.1.8 release and push it to the supermarket?

[2016-04-15 22:04] tas50 commented on #271
Done

[2016-04-15 22:04] #271 closed

[2016-05-03 18:55] syphon7 commented on #203
Has anyone found a solution to this issue? I am having the same problem

[2016-05-03 22:51] bradwilliamson opened #274 "Error passing array of commands to iis_config"
Cookbook version

[4.1.8]

Chef-client version

[12.9.38]

Platform Details

[Windows 2008 R2 SP1 64bit]

Scenario:

[I am attempting to pass an array of commands to iis_config to allow ISAPI ASP.NETv 4.0.30319 filters to be enabled. I run the commands below manually on the node using appcmd & it works ]

Steps to Reproduce:

[Have .net framework 4.0 installed on 2008 R2 where ASP.NET 4.0 ISAPI fi

[2016-05-05 13:06] EasyAsABC123 commented on #274
@bradwilliamson can you open the file `iis/resources/config.rb` and look for `actions :config, :clear, :set
` this is the only place actions are defined... and the error you are getting is that the action you passed doesn't exist.

also when I just run the first command as this library will i get the following error:
[code]

[2016-05-05 15:09] bradwilliamson commented on #274
@EasyAsABC123  Thank you for the response.  I was using an example on the cookbook page. I was attempting to pass an array of commands from an older batch file that utilizes appcmd.exe. In IIS 7.5 on 2008 r2 by default after provisioning a server the ASP.NET 4.0 isapi.dlls are restricted.  I got the following to work by using action :config instead of action :set.  I'd still rather pass the comman

[2016-05-05 15:31] EasyAsABC123 commented on #274
Absolutely array passing definitely works.

In the meantime what happens if you do:

[code]

[2016-05-05 15:52] bradwilliamson commented on #274
Chef-Client on the node produces this error

`2016-05-05T10:48:50-05:00] FATAL: Chef::Exceptions::ValidationFailed: Option action must be equal to one of: nothing, config!  You passed :set.`

The` :action :config `seems to do the job.

[2016-05-05 15:53] bradwilliamson commented on #274
Here is the stacktrace output

`Generated at 2016-05-05 10:48:50 -0500
Chef::Exceptions::ValidationFailed: Option action must be equal to one of: nothing, config!  You passed :set.
C:/opscode/chef/embedded/lib/ruby/gems/2.1.0/gems/chef-12.9.41-universal-mingw32/lib/chef/mixin/params_validate.rb:170:in `_pv_equal_to'
C:/opscode/chef/embedded/lib/ruby/gems/2.1.0/gems/chef-12.9.41-universal-mingw32/l

[2016-05-05 15:59] EasyAsABC123 commented on #274
It looks like you are running an older version of the iis cookbook, on the chef server can you verify it is 4.1.8?

I'll spin up a test windows server 2008r2 after work today to test this if you are sure you have 4.1.8

[2016-05-05 18:04] bradwilliamson commented on #274
The action on :set appears to be working now. I downloaded the cookbook on the 22nd of April. Appears it wasn't at 4.1.8 & somehow was at 4.1.1 but the readme stated 4.1.7.  I just went in and removed it entirely & downloaded 4.1.8. The below code is working for me fine now.
[code]

[2016-05-05 18:07] EasyAsABC123 commented on #274
awesome! does the array loop method still fail?

[2016-05-05 18:13] bradwilliamson commented on #274
I will attempt to get it work after 3:30 PM CST today. Stuck in meetings until then.

[2016-05-05 18:26] EasyAsABC123 commented on #274
Thanks, let me know whenever and i'll try to look into any issue you find.

[2016-05-05 22:21] bradwilliamson commented on #274
I got it to work with just one command inside the array. When I put two commands in the array I got the following error.

`---- Begin output of C:\Windows\System32\inetsrv\appcmd.exe set config /section:isapicgiRestriction /[path='C:\Windows\M
icrosoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll'] ----
STDOUT: ERROR ( message:The attribute "[path='C:\Windows\Microsoft.NET\Framework64\v4.0.30319\as

[2016-05-20 15:04] pratikpotdar opened #276 "iis_config resource not being idempotent"
### Cookbook version
4.1.8

### Chef-client version
12.5.1

### Platform Details
AWS- Windows 2012 R2

### Scenario:
I am using iis_config resource. But it is not being idempotent (even when I saw that Issue#69 says fixed). When running it more than one time, it should not update any resource, yet that seems to be happening.

### Steps to Reproduce:
Wrote a simple test cookbook which depends on II

[2016-05-23 16:30] spuder commented on #276
The work around still appears to be to add the 'returns' statement

     returns [0,183]

or

    returns [0, 4312]

[2016-05-24 12:00] manjukk commented on #242
Im getting this error while creating a site in IIS.
[0mMixlib::ShellOut::ShellCommandFailed[0m
------------------------------------[0m
Expected process to exit with [0, 42], but received '183'
[0m---- Begin output of C:\Windows\System32\inetsrv\appcmd.exe start site /site.name:"WebAppChef" ----
[0mSTDOUT: ERROR ( hresult:800700b7, message:Command execution failed.

[2016-05-24 14:43] EasyAsABC123 commented on #242
@manjukk please create a separate issue for this, also it appears that command is correct and thereby the site either doesn't exist or there is a race condition that is unaccounted for.  Please create a separate issue for either case.

[2016-05-24 14:48] EasyAsABC123 commented on #276
The iis_config option literally can configure anything in multiple different patterns and areas.  Until we create a method for storing the pre-config data and then checking that the `iis_config` resource will remain non-itempotent.  This is something that could be an enhancement, but currently it is working as expected.

[2016-05-24 19:39] manjukk opened #277 "iis error -return 183"
### Chef-client version
[12.9.41]

### Steps to Reproduce:
while executing the below code to configure a site in IIS,
chef-client --local-mode --runlist 'recipe[cookbooksample::web]'

I am getting the error
    "cannot create a file when that file already exists" Ran C:\windows\system32\appcmd.exe start sitename:"testapp" and return 183.

[2016-05-26 09:21] domenicomusto commented on #69
Hello,

I'm still having this issue with the following

iis_config '/section:system.webServer/proxy /enabled:"true"' do
  action :set
end

The configuration change gets always applied even if the proxy has already been enabled

[2016-05-26 15:07] EasyAsABC123 commented on #69
@domenicomusto iis_config is not idempotent thereby it will always get applied unless you add a if statement to your own receipt.

[2016-05-26 15:41] EasyAsABC123 commented on #277
This appears to be an issue with a website having a misconfiguration and thereby unable to start

[2016-06-01 09:26] domenicomusto commented on #69
Thanks @EasyAsABC123, is there any other resource I can use to check if that config is been set already so I can keep my cookbook idempotent ? Thanks

[2016-06-01 13:56] EasyAsABC123 commented on #69
@domenicomusto you'll need to basically run some PowerShell that pulls back the value of the setting and doesn't run the code if it is set to X.
[code]

[2016-06-08 19:47] spuder opened #278 "Release 4.1.8"
Can we get version 4.1.8 released?

There are commits that say "release 4.1.8" and the metadata shows 4.1.8, yet supermarket and github tags only have 4.1.7

https://github.com/chef-cookbooks/iis/commits/master

https://supermarket.chef.io/cookbooks/iis

This warning is still showing up. It was fixed, but not until after version 4.1.7 was pushed

[code]

[2016-06-08 19:48] tas50 commented on #278
4.1.8 is released now

[2016-06-08 19:48] #278 closed

[2016-06-15 04:10] jsco2t opened #279 "iis_pool is not idempotent when recycle_at_time is specified and is not changed"
### Cookbook version
4.1.7

### Chef-client version
chef-client: 12.7.2
kitchen: 1.5.0

### Platform Details
Windows Server 2012 R2

### Issue:
After an app pool has been configured with **iis_pool** resource parameter **recycle_at_time** the next time the cookbook converges (with no changes to the app pool) the app pool is restarted.

### Steps to Reproduce:
* Configure a site's app pool using th

[2016-06-15 05:32] EasyAsABC123 commented on #279
I'll look into this in around 9 hours, sounds like the check is broken.

Justin Schuhmann

[2016-06-15 07:34] vinyar opened #280 "default recipe fails on 2012r2"
### Cookbook version
4.1.8

### Chef-client version
12.10.24

### Platform Details
2012r2

### Scenario:
get base line IIS working (for free)

### Steps to Reproduce:
add iis:default to runlist

### Expected Result:
some basic iis functionality gets installed.

### Actual Result:
(0/43 features get installed)
The feature itself gets the checkbox, but none of the sub-features are added.
Resulting i

[2016-06-15 07:38] vinyar commented on #280
[code]

[2016-06-15 08:00] vinyar commented on #280
eh.... ok. I get it. It's due to mwrocks box not having any of the features on the box.
Maybe it's worth the effort to add a dism /do_i_have_any_files_locally as a guard (dism /scanhealth or something like get-windowsfeature | where webserver -not removed)

[2016-06-15 11:51] sasideveloper opened #281 "IIS Service is not recognized after installation"
### Cookbook version
4.1.8

### Chef-client version
12.5.1

### Platform Details
Windows Server 2012R2 in AWS

### Scenario:
I am trying to run default.rb on new windows 2012 machine

### Steps to Reproduce:
create new machine and run IIS::default.rb

### Expected Result:
Successfully completed iis installation and start IIS Service.

### Actual Result:
Converging 71 resources
Recipe: iis::default

[2016-06-15 13:25] EasyAsABC123 commented on #281
Hello @sasideveloper this is likely the same #280
Please verify that the server has get-windowsfeature iis even installed.

[2016-06-15 13:26] EasyAsABC123 commented on #280
Definitely sounds like an idea

[2016-06-15 13:27] EasyAsABC123 commented on #277
Please verify your inetmgr and see what isn't being cleaned up from your recipe

[2016-06-15 13:27] #277 closed

[2016-06-15 14:05] sasideveloper commented on #280
Vinyar,
How did you overcome this problem.

[2016-06-15 14:09] EasyAsABC123 commented on #279
Status: Spinning up test environment

[2016-06-15 14:16] EasyAsABC123 commented on #280
@sasideveloper he either logged into the box and installed the feature or he added this to the default recipe:

[code]

[2016-06-15 14:16] #281 closed

[2016-06-15 15:40] vinyar commented on #203
It may have to do with the image you're using.

Take a look at `get-windowsfeature` and see if it says `available` or `removed`
Removed means the box doesn't actually have it, so dism technically shouldn't find it from command line nor from vagrant.

@syphon7 @tpetchel

[2016-06-16 07:54] vinyar commented on #280
@sasideveloper truth be told, I had packer files from when I messed around with it, so I used a different 2012 image I cooked up a few months ago.

Packer takes an hour at most to learn, but another 3 to download the mega massive 2012r2 ISO from msft.
https://github.com/boxcutter/windows

@EasyAsABC123 I was thinking something like `(Get-WindowsFeature -Name Web-Server) -ne 'removed'`

[2016-06-17 11:56] pratikpotdar opened #282 "iis_config editing into Framework instead of Framework64"
When running the same command using CMD it sets the value correctly under Framework64/Config/web.config for /commit:WEBROOT

When done through iis_config, it changes in Framework/Config/web.config

Am I missing something? Is there an option to point it to the right web.config ?

### Cookbook version
4.1.8

### Chef-client version
12.5.1

### Platform Details
AWS - Windows server 2012R2

### Scenar

[2016-06-17 13:32] EasyAsABC123 commented on #282
What command are you running and from which appcmd?
[code]
Command?
[code]

[2016-06-19 03:28] pratikpotdar commented on #282
I am running it from this appcmd through CMD: C:\windows\system32\inetsrv\appcmd

which makes entry in Framework64

And the command that is used:
appcmd.exe set config /commit:WEBROOT /section:system.web/httpCookies /httpOnlyCookies:true

[2016-06-19 03:32] pratikpotdar commented on #276
Thanks @spuder. Used your suggestion. It currently seems to be working. But I'd have hoped that at least this exit code would've been there by default.

[2016-06-19 16:36] EasyAsABC123 commented on #282
Running the same command on my x64 box doesn't make an entry into the framework64 file.  Can you validate resetting the box and then seeing if the file is touched with the appcmd only without inetsrv.

Just want to make sure it is all executing, otherwise the issue would be somewhere with chef running as a 32 bit program.  I don't think that should cause any issue I can write up a quick .rb file t

[2016-06-20 10:51] pratikpotdar commented on #282
@EasyAsABC123 Tried it. `C:\\windows\\system32\\inetsrv\\appcmd.exe set config /commit:WEBROOT /section:system.web/httpCookies /httpOnlyCookies:true`
This still makes an entry in Framework64
From recipe, it still goes to Framework

[2016-06-20 13:18] EasyAsABC123 commented on #282
@pratikpotdar sounds good, thanks for validating.

Whenever I get a moment I'll try to write up that ruby file that executes the same way the recipe does.  The reason for this is to see if it is because of ruby or because of chef.  As the command above is the literal command that this cookbook would do given what you have posted

[2016-06-20 13:31] EasyAsABC123 commented on #276
@spuder
For idempotency on `iis_config` I think we should break out the action into more properties

new properties:
Commit
ConfigurationPath
Add_Remove
Section
Property
Value

So this command
[code]
becomes

[code]

this would allow for us to break the command apart enough that we should be able to do something like

[code]
or
[code]

from the result we should be able to get the value, this is a

[2016-06-23 04:19] EasyAsABC123 commented on #282
@pratikpotdar just ran the following:
[code]

This runs the following recipes
[code]

recipe[iis_test::default]
[code]

As you can see
[code]

I then checked the file C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\web.config, which contains:
[code]

[2016-06-23 04:21] EasyAsABC123 commented on #280
@vinyar feel free to add a pull request

[2016-06-23 04:21] #280 closed

[2016-06-23 05:55] EasyAsABC123 commented on #279
@jsco2t please test #283 as it appears to solve this issue

[2016-06-23 08:42] sasideveloper commented on #280
Problem for me is service is getting installed but it is not recognized by system until i restart the system. Henceforth my next logic which tries appcmd are failing. Whereas when i run "Add-WindowsFeature Web-Server" in powershell directly, service is getting recognized without restart.

[2016-06-23 09:50] EasyAsABC123 commented on #274
I can't even get these commands to run, can you please provide the information you are doing to setup iis to allow for the above commands I only get:

[code]

Closing until more detail provided

[2016-06-23 09:50] #274 closed

[2016-06-23 09:54] EasyAsABC123 commented on #280
@sasideveloper please provide this as a new issue with the windows server version and any relevant recipes as this issue is closed.  Adding Powershell functionality is possible, simply submit a pull request.  Please note it will need to check that powershell is available and fail to current method otherwise.

[2016-06-23 09:55] EasyAsABC123 commented on #282
Closing issue, feel free to re-open.  I tested this on the same system you have locally with test-kitchen and it doesn't behave as described.

Please run a
[code]
and submit it to this issue reopening the issue as well.

thanks

[2016-06-23 09:55] #282 closed

[2016-06-23 13:14] dmalikov commented on #205
In IIS8.5 there is a special `clear` command to empty a collection. I.e:

[code]

Enormously helpful to get rid of these 'key already exist' errors.

[2016-06-23 13:42] EasyAsABC123 commented on #276
This feature is now in testing, some changes have been made over the current v4.2 branch that handle multiple properties at a time better

[2016-06-23 16:31] EasyAsABC123 commented on #276
@spuder can you please test this new version v4.2? it is working for all my examples in the readme.md but i don't have any other examples

[2016-06-23 16:34] spuder commented on #276
@EasyAsABC123 Yes, though it might take me some time.

[2016-06-23 17:07] EasyAsABC123 commented on #276
@spuder definitely no worries

[2016-06-24 21:19] spuder opened #284 "Add deprecation warnings for iis_config in 4.2"
The `iis_config` resources in 4.2 will no longer support `:config`.

Users will need to change every instance of `:config` to `:set`

I recommend adding a deprecation warning to 4.1 IIS cookbook, so users aren't caught off guard updating to 4.2. I had nearly a dozen references to the old syntax and had to find all of them.

[code]

Here is an example of adding a deprecation warning, taken from the

[2016-06-24 21:25] spuder commented on #276
@EasyAsABC123

The `clear` action broke on `iis_config`

[code]

[2016-06-25 02:52] EasyAsABC123 commented on #276
@spuder what is the above config suppose to do? Just remove 1 mime type? Currently that wouldn't be possible with the new `iis_config` I will need to take a look at that.

If you did
[code]

it should delete everything in the NetDocuments/neweb2 (zone) and the whole section for static content.  Let me know what that is suppose to do so I can adjust the code

[2016-06-25 03:36] spuder commented on #276
@EasyAsABC123 Correct it removes 1 mime type.  We have some builds that have an erroneous line in the neweb2/web.config file.

    <mimeMap fileExtension="." mimeType="application/octet-stream"`

 As a precaution we remove this line at the beginning of the chef run, and at it back at the end.

Here is the same thing in powershell

    appcmd.exe set config 'NetDocuments/neweb2' /commit:app /sectio

[2016-06-25 03:44] EasyAsABC123 commented on #276
Interesting, I will mess with this over the weekend so that clear is idempotent with `:clear` and using property.  I basically did `:set` it worked then tacked `:clear` support on at the end

[2016-06-27 02:30] EasyAsABC123 commented on #284
@spuder do you mean add a warning to 4.1.8?

it is removed completely in 4.2, and because of the load resource it can't really be used unless I simply keep it doing set and not tell anyone.

[2016-06-27 02:57] spuder commented on #284
@EasyAsABC123 Yes, my thought is to release a 4.1.9 cookbook that warns what changes in the iis_config in version 4.2.0. I had to change a significant amount of code to get 4.2 to work. It would be nice for others to get a heads up.

[2016-06-27 05:40] #279 closed

[2016-06-27 05:40] #284 closed

[2016-06-27 15:40] EasyAsABC123 commented on #284
deployed to supermarket, agree that hopefully his helps people migrate to
4.2.0.

I think the `:clear` issue will be resolved this week if i get time to work
on it.  i'm out of town monday and tuesday at the office...so i won't be
able to work on it until after that

On Sun, Jun 26, 2016 at 10:57 PM, Spencer Owen <notifications@github.com>
wrote:

[2016-06-27 15:45] EasyAsABC123 commented on #270
This will be resolved by 3587cecdd5147a2538aeb1bc36b92026ff8ab580 it will look something like this:

Command Line to set autoStart to true
[code]

[code]

in the meantime it can be done (NOT IDEMPOTENT)
[code]

[2016-06-27 17:26] spuder commented on #276
Is it expected that the old syntax will continue to work?

[code]

Or is the new syntax mandatory?

[code]

If the old syntax is going away, maybe this should be a 5.0.0 release.

http://semver.org/

[2016-06-27 17:31] EasyAsABC123 commented on #276
@spuder The only way the old syntax could stay is to simply add a new provider/resource.  This wouldn't be ideal since they are both managing the same thing.

A new provider may be created that is simply to allow the running of appcmd commands, something like `iis_cmd`.
[code]

like that...but otherwise since everyone complains about idempotency (understandably) I would prefer to avoid offering so

[2016-06-27 18:17] EasyAsABC123 commented on #205
For reference later,
**add a mime type:**
[code]

**clear single mimeType:**
[code]

**clear whole section:**
[code]

[2016-06-27 23:33] spuder commented on #276
In my opinion abandoning the old syntax is preferable. The new style is much easier to understand and requires less character escaping.

[2016-06-28 04:38] EasyAsABC123 commented on #276
@spuder agreed, i'll likely more that direction but that will mean also making each property additive or subtractive

[2016-06-28 08:34] wingZero21 opened #285 "Issue with error 50 when installing mod_aspnet"
### Cookbook version
[Version of the cookbook where you are encountering the issue]

### Chef-client version
12.10.24

### Platform Details
Windows Server 2012

### Scenario:
Attempting to install .net 35 pre-requisites

### Steps to Reproduce:
Running recipe iis::mod_aspnet

### Expected Result:
When running I am getting the below errors.
[code]

### Potential Fix

Amended the mod_aspnet recipe d

[2016-06-28 09:48] wingZero21 commented on #285
Added pull request to fix this - https://github.com/chef-cookbooks/iis/pull/286

[2016-06-29 08:21] EasyAsABC123 commented on #285
Resolved in #286

[2016-06-29 08:21] #285 closed

[2016-06-29 08:29] EasyAsABC123 commented on #203
this appears to be due to the image being used, and whether the feature exists or not.

[2016-06-29 08:29] #203 closed

[2016-06-29 08:30] EasyAsABC123 commented on #241
will be testing this soon

[2016-06-29 08:30] EasyAsABC123 commented on #224
I have these locally, however all unit tests don't exist yet nor have all pester validators been written

[2016-07-18 12:51] Yvangelist01 opened #287 "Error 50: Adding IIS Components (features) on server 2008 r2."
### Cookbook version
4.1.6

### Chef-client version
12.8.1

### Platform Details
Windows Server 2008 R2

### Scenario:
Error 50: Adding IIS Components (features) on server 2008 r2.

### Steps to Reproduce:
In your test cookbook add the following components on a server 2008 r2.
[code]

then just

[code]

### Expected Result:
Should be successful

### Actual Result:
I get Error 50 DISM.
Basically it

[2016-07-18 14:03] EasyAsABC123 commented on #287
Please submit a pull request with the fix, thanks

[2016-07-19 11:04] Yvangelist01 commented on #287
Yes I tough of it. But wouldn't the server role installation be triggered twice ?
I mean once from the additional components and then another time with the 'default'.

[2016-07-19 13:24] EasyAsABC123 commented on #287
I think I found the issue, I committed a change to master, please pull it down and confirm.  thanks

[2016-07-29 03:42] EasyAsABC123 commented on #287
@Yvangelist01 please verify whenever possible.  Closing issue for now

[2016-07-29 03:42] #287 closed

[2016-08-08 18:41] burnzy commented on #282
@pratikpotdar @EasyAsABC123 I'm experiencing that same issue - specifically when trying to update the machine.config. It seems that it always updates the Framework config instead of the Framework64 when running chef. But manually running appcmd will update the Framework64 config. How did you resolve this issue earlier?

[2016-08-08 20:28] EasyAsABC123 commented on #282
@burnzy can you please run the above command to give me the debug log?

[2016-08-08 21:31] burnzy commented on #282
@EasyAsABC123 I'm running with test-kitchen + vagrant does that make a difference?

[2016-08-08 21:37] burnzy commented on #282
@EasyAsABC123 https://gist.github.com/burnzy/a3c73f762e3a7420350cafc35dd190c7

[2016-08-09 08:37] pratikpotdar commented on #282
@EasyAsABC123 Sorry, but I had some issues with my email account and might have missed the notification emails. It's OK if you closed the issue. Maybe you can re-open it with the output that burnzy  has submitted. I do not have access to the windows environment anymore and wouldn't be able to test it. :(

@burnzy I simply put the appcmd command in an execute block. That seemed to work. Had to deli

[2016-08-09 15:09] EasyAsABC123 commented on #282
@burnzy the file you posted shows a node with a runlist of nothing.  I am guessing you didn't make a [machine name].json file before running the above command to get the -verbose log.   Because of this the above only shows information about the server but not any details on what the server is doing.

Try again if you can but you will need to make a node file

Example file (don't use this exactly t

[2016-08-09 15:47] burnzy commented on #282
@EasyAsABC123 Okay, I've re-run, and updated the gist: https://gist.github.com/burnzy/a3c73f762e3a7420350cafc35dd190c7

[2016-08-09 18:53] EasyAsABC123 commented on #282
@burnzy I should apologize, I need the above ran on a machine that isn't configured so that IIS commands run.  The above log shows nothing because everything is (up-to-date).  Sorry about that, let me look at the logging to make sure that it will log the files that it is writing to as well

[2016-08-12 20:22] stevehedrick opened #289 "iis_config matcher broken by 4.2 changes"
### Cookbook version
4.2

### Chef-client version
Chef 12.11.18

### Platform Details
OSX / Windows / ChefDK 0.15.16

### Scenario:
Using chefspec to test an iis_config resource with a :set action.

### Steps to Reproduce:
In the chef recipe:

[code]

In the chefspec:
[code]

### Expected Result:
That should perform a chefspec test and succeed.

### Actual Result:

[code]

[2016-08-13 02:47] amunoz951 commented on #203
The dism error is due to winrm disallowing access to windows update. Use the chef_zero_scheduled_task provisioner.

[2016-08-13 03:25] amunoz951 commented on #203
Also, regarding the first error, my problem ended up being that windows had installed some updates automatically and needed to be restarted before it would allow IIS to be installed. Just thought I'd mention it in case anyone else has the same problem.

[2016-08-29 01:05] jkerry opened #290 "Mod_aspnet recipe doesn't use windows version check for feature resource"
### Cookbook version
4.2.0

### Chef-client version
[Version of chef-client in your environment]
12.9.38
### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
win2k8r2
### Scenario:
[What you are trying to achieve and you can't?]
when calling the mod_aspnet recipe the windows version check is not done, triggering the all flag which is not

[2016-08-29 01:55] EasyAsABC123 commented on #289
resolved, closing

[2016-08-29 01:55] #289 closed

[2016-08-30 11:42] sasydharan opened #292 "IIS Pool resource thirty_two_bit false doesn't"
### Scenario:
Here is my code when 32 bit is enabled for true the chef client appends the change but it could not recognize when its been set to false, the status still remains True.

[code]

### Expected Result:
App pool settings Enable 32 applications to be set to false.

### Actual Result:

[2016-08-30 13:26] #290 closed

[2016-08-30 13:57] EasyAsABC123 commented on #292
This is because of https://github.com/chef-cookbooks/iis/blob/master/providers/pool.rb#L221
[code]
makes this only happen when the value is true...while it is meant to guard against undefined values...to fix this we need to change this line to:

[code]

[2016-09-21 14:15] roberto-mardeni opened #293 "mod_management recipe fails to install due to dependent features not installed"
### Cookbook version
5.0.0

### Chef-client version
12.13.37

### Platform Details
Windows 2012 R2

### Scenario:
Configure IIS with the management feature only

### Steps to Reproduce:
Write a cookbook with:
include_recipe 'iis'
include_recipe 'iid::mod_management'

### Expected Result:
Features should be installed without any errors

### Actual Result:
The following error occurs:
       [2016-09

[2016-09-21 19:14] smurawski commented on #293
Thanks for the PR, it just needs a quick tweak to make it support 2008 R2, as well as 2012/2012 R2.

[2016-09-22 03:37] iennae commented on #293
Fixed with version 5.0.1.

[2016-09-22 03:37] #293 closed

[2016-10-05 16:39] albeekj opened #296 "Minor over oversight in IIS::mod_aspnet [5.0.1]"
Really looking to notify maintainers of a minor oversight, IIS::mod_aspnet [5.0.1] needs to be updated to add source as an option for install.
[code]
to

[code]
### Cookbook version
5.0.1

### Chef-client version
12.07

### Platform Details
Windows 2012r2

### Scenario:
Utilizing the native IIS cookbook I was unable to install IIS-NetFxExtensibility because chef couldn't find the source directory.

[2016-10-05 17:17] EasyAsABC123 commented on #296
add a PR, can't wait to review it

[2016-10-07 17:04] #296 closed

[2016-10-07 17:28] #292 closed

[2016-11-21 14:15] Matasx opened #303 "Release new version"
Could you please release new version to include changes in PR #301?

[2016-11-21 14:25] EasyAsABC123 commented on #303
released in commit 8a43560f254be3bc064b179d5992d860f1d4e794
https://supermarket.chef.io/cookbooks/iis

[2016-11-21 14:25] #303 closed

[2016-12-19 18:20] spuder opened #306 "iis-root default_documents deleted every chef run"
### Cookbook version
4.1.9

### Platform Details
windows 2012

`default_documents` is not idempotent, it deletes all default documents every other chef run

After 1 chef run, the default documents is empty.
After the second chef run, foo.aspx is added back to the default documents.
After the 3rd chef run, the default documents is empty again

[code]

[2017-01-10 19:52] #270 closed

[2017-01-10 19:52] tas50 commented on #270
This has been released

[2017-01-25 21:45] rj-reilly opened #307 "Expected process to exit with [0], but received '1168'"
### Cookbook version
5.0.5

### Chef-client version
[Version of chef-client in your environment]
12.11
### Platform Details
win2012R2

### Scenario:
create an app

I have the following:
[code]

[code]

[2017-01-25 21:47] rj-reilly commented on #307
womp site was incorrect

[2017-01-25 21:47] #307 closed

[2017-01-25 21:52] EasyAsABC123 commented on #306
This should be a pretty elegant change where you just make the handler look in the dictionary for the default documents rather than the current very crude and bruteforce method and I coded previously...

Haven't had time to change this sorry.

[2017-02-01 08:42] EasyAsABC123 commented on #306
@spuder i just went over this and was about to change a ton of code...however, `:config` isn't meant to be idempotent only `:add` and `:delete` are idempotent.

let me know what the goal is and we I can give you the new recipe block, i can look into making config idempotent...what do you think it should do? should it set the config to only what you pass in?

[2017-02-01 17:29] spuder commented on #306
The original goal is to

- remove all built in default_documents
- add only the 'foo.aspx' to default_documents

Reasoning:

- c:\inetpub\wwwroot\iisstart.htm exists on new windows 2012 vms, and is found by IIS before `foo.aspx`
- theoretically speed up / secure IIS servers by only putting `foo.aspx` in the documents

The current work around we have is

[code]

[2017-02-01 17:32] EasyAsABC123 commented on #306
@spuder
So basically if `:config` we want to make sure those are the only items in `default_documents` or `mime_types`.  I can do that, I have the code already done...i'll need to write a test and then have someone (hopefully you) test in a real environment since I don't do have access to any chef servers with windows boxes (not part of my full-time job).

Thanks for helping me understand!

I can'

[2017-02-01 18:44] spuder commented on #306
Thanks.

We are still on the 4.x.x cookbook, so it will take a little time to get to a point where we can test this.

[2017-02-01 18:47] EasyAsABC123 commented on #306
This will be a 4.x.x release, so it would just be updating to latest

[2017-02-01 18:50] EasyAsABC123 commented on #306
@spuder that was a lie...it will be released in 5.x.x...

I can give you the code you would need to change locally to make 4.x.x have the corrected code.

[2017-02-01 18:58] spuder commented on #306
5.x.x release is ok. We have a work around in the mean time.

I could probably test this in test kitchen

[2017-02-01 19:06] EasyAsABC123 commented on #306
K i'll probably also test it in test kitchen...just need to fix busser on my machine.

[2017-02-02 05:43] EasyAsABC123 commented on #306
@spuder fixed it in https://github.com/chef-cookbooks/iis/tree/bug-fix_iis-root_default-documents

to test quickly locally you could just update the libraries/processors.rb file to be what is in the above branch

[2017-02-24 02:51] mitchflores opened #308 "iis_version is not evaluated properly on if statement"
### Cookbook version
5.0.5

### Chef-client version
12.19.36

### Platform Details
Windows server 2016

### Scenario:
[What you are trying to achieve and you can't?]

### Steps to Reproduce:
Add/Config an application pool using iis_pool Resource/Provider and set pool_identity to :NetworkService to :SpecificUser.

### Expected Result:
app pool identity should be updated.

### Actual Result:
app poo

[2017-02-24 05:38] EasyAsABC123 commented on #308
let me know if this resolves it for you.

[2017-03-02 07:09] mitchflores commented on #308
Hi @EasyAsABC123 thank you very much for the update, it resolves my issue.

[2017-03-07 19:26] tas50 commented on #241
@EasyAsABC123 Did you ever get a chance to test this issue?

[2017-03-07 19:31] EasyAsABC123 commented on #241
@tas50 i've been waiting for the original poster to respond.  I wasn't able to replicate, but I suppose i can try to replicate again.

[2017-03-07 20:40] #308 closed

[2017-03-07 21:24] #306 closed

[2017-03-08 15:22] surrealchemist commented on #241
Sorry I never replied. Unfortunately I am no longer working at this company and on this project so I'm not really able to test at this point myself.

[2017-03-08 15:24] EasyAsABC123 commented on #241
@surrealchemist no worries, thanks for reporting the issue.  i'll work on replicating it locally for me.

[2017-03-08 16:37] spuder commented on #241
This is still on my backlog of things to work on.

[2017-03-13 16:08] fdzedzy commented on #306
@EasyAsABC123 This fix breaks `:add` because `(current_default_documents - default_document).each do |document|` ends up iterating over the existing documents already configured in IIS.  It throws an error like this:  `STDOUT: ERROR ( message:New add object missing required attributes. Cannot add duplicate collection entry of type 'add' with unique key attribute 'value' set to 'Default.htm'`

I've

[2017-03-20 19:49] Stromweld opened #315 "iis service in default recipe creates error on knifing new server"
### Cookbook version
5.0.8
### Chef-client version
12.19.36

### Platform Details
Windows 2012 R2 on AWS cloud

### Scenario:
Knife a new windows server with IIS cookbook and windows 3.0.0 cookbook

### Steps to Reproduce:
install windows 3.0.0 and iis 5.0.8 cookbooks
knife new server with iis::default recipe.

### Expected Result:
new server created with iis installed and running

### Actual Resu

[2017-03-20 20:11] EasyAsABC123 commented on #315
Refer to:
#281
#203
#280

Thanks, if issue persists after reading those feel free to reopen

[2017-03-20 20:11] #315 closed

[2017-03-20 20:19] Stromweld commented on #315
I was using this cookbook in the past but now windows 3.0.0 came out and they changed some of things and now knifing a new server is failing. I'm not sure what change that caused the breakage here.

[2017-03-20 20:24] EasyAsABC123 commented on #315
please read this issue: https://github.com/chef-cookbooks/iis/issues/280

it describes exactly what you are describing...you have changed your image, the new image doesn't contain the files so you need to point to the installation source via the `default['iis']['source'] = nil` attribute

[2017-03-20 20:30] Stromweld commented on #315
it installs everything fine, but it looks like windows 3.0.0 now relies on chef-client built in windows_feature which if no provider is specified defaults to dism install instead of powershell. Below is snippets from release notes.

windows_feature

BREAKING CHANGE - Version 3.0.0

There are three methods for the windows_feature which map into Microsoft's three major tools for managing roles/featu

[2017-03-20 20:36] EasyAsABC123 commented on #315
can you run the commands provided and see which one has iis functionality?
For Dism:
[code]

For ServerManagerCmd:
[code]

For PowerShell:
[code]

[2017-03-20 20:47] Stromweld commented on #315
Dism:
`Feature Name : IIS-WebServerRole
State : Enabled`

PowerShell:
`Web-Server         Installed`

[2017-03-20 20:48] EasyAsABC123 commented on #315
that looks like Dism installed it, so did powershell? did you uninstall the feature between?

[2017-03-20 20:49] Stromweld commented on #315
no just installed with iis cookbook and rebooted the server.

[2017-03-20 21:53] EasyAsABC123 commented on #315
so it just worked? or did you change something, if you did feel free to submit a pull request

[2017-03-20 22:06] Stromweld commented on #315
I'm confused, so I tested knifing a server with runlist recipe[iis]. That worked and full converged on first chef run. Then I tested our wrapper cookbook again in the run list which includes ms_dotnet cookbook to install .net 4.6.2 then run iis::default then some of our other stuff. with the wrapper cookbook it fails with the service error.

[2017-03-20 22:07] EasyAsABC123 commented on #315
not sure, try turning on --verbose and looking through the logs...sounds like something is wrong with the versioning between the wrapper cookbook and this cookbook, but obviously i don't know i'm throwing knifes in the dark

[2017-03-20 22:09] Stromweld commented on #315
I'm going to try another test where I moved ms_dotnet to be the last cookbook ran in the wrapper and first one is iis::defualt.

[2017-03-20 22:11] EasyAsABC123 commented on #315
that seems like a good plan, it might be that a restart is required between the .net install and iis

[2017-03-20 22:55] Stromweld commented on #315
Sure enough that was it. Can't remember if I tested knifing a new server after adding the ms_dotnet cookbook or not. I could of swore I did test it before windows 3.0.0 came out. Thanks for the help.

So for clarity if others find this in a search. ms_dotnet install of .net 4.6.2 must come after IIS cookbooks install of IIS-WebServerRole or the iis::default recipe.

[2017-03-23 18:19] zanzan42 opened #316 "iis_app not actually converting to app"
### Cookbook version
5.0.8
### Chef-client version
12.2

### Platform Details
AWS Microsoft Windows Server 2012 R2 Base

### Scenario:
Using the iis_app LWRP as part of my cookbook (along with the base iis::default recipe, and iis_site and iis_pool LWRPs as well), the resultant configuration in IIS doesn't actually add the app (even though the Chef run logs it as successful). The directory contain

[2017-03-23 19:53] EasyAsABC123 commented on #316
can you give me the values of your variables? @zanzan42
otherwise it is difficult to help, i'm going to run the default tests for win2012r2, should work

[2017-03-23 20:09] zanzan42 commented on #316
iis_app "appName" do
    site_name "siteName"
    path "/"
    application_pool "appPool"
    physical_path "c:\\inetpub\\siteRoot\\appRoot"
    enabled_protocols "http"
    action :add
  end

I can't give you some of the actual attribute values, but the above is approximate.

IIS and its features were already in place from recipe includes for iis, iis::mod_aspnet45 (and a few other mod_* recipes)

[2017-03-23 20:19] EasyAsABC123 commented on #316
yup, working on updating chef test kitchen to run my test recipe for everyone which generates all of these items.

[2017-03-23 20:30] zanzan42 commented on #316
Also, if it's helpful, since we have to maintain Chef 12.2 compatibility across our dependency chain, here's the relevant berksfile contents:

cookbook 'ohai', '= 4.2.3'
cookbook 'windows', '= 1.44.3'
cookbook 'iis', '~> 5.0.7'

[2017-03-27 22:39] vermokhin opened #317 "IIS installation error"
### Cookbook version
5.1.0

### Chef-client version
Chef 12.12.15

### Platform Details
Windows Server 2008 R2 Standart

### Scenario:
Install IIS

### Steps to Reproduce:

### Expected Result:
IIS will install propery and complete

### Actual Result:

[code]

[2017-03-28 13:48] vermokhin commented on #317
Issue was resolved ater windows cookbook version 3.0.3 released

[2017-03-28 13:48] #317 closed

[2017-03-28 13:53] cheeseplus commented on #317
This is a bug in the Windows cookbook that was fixed @ https://github.com/chef-cookbooks/windows/commit/cf99c8a92a0298899b23363163c9cb92cc2cafa8. Version 3.0.3 has been released to include this fix.

[2017-03-29 14:14] stonesbg opened #318 "Uninitialized constant Chef::Resource::IisSite"
### Cookbook version
windows => 3.0.3
iis => 5.1.0

### Chef-client version
Chef Client 12.19.36

### Platform Details
Windows Server 2012 R2

### Scenario:
i am trying to install a new web site using the iis_site resource

### Steps to Reproduce:
1. Create a cookbook with a resource for iis_site
2. Execute chef-client

### Expected Result:
Web site is created

### Actual Result:
I am getting the

[2017-03-29 14:45] EasyAsABC123 commented on #318
@stonesbg i'm also experiencing this...i'm assuming it is something that is incompatible in the cookbook and needs to be updated.

@tas50 anything that i should change here? i'm getting the same thing in test-kitchen when testing

[2017-04-01 04:12] iennae commented on #318
The issue here is that we need to refactor the resources to new custom resource. We're working on getting this resolved.

[2017-04-01 04:15] iennae commented on #316
Hi @zanzan42, just a heads up that we recognize that this is an issue. We will be working on the fix, but it will be specifically a 12.7+ fix. You will be able to use the fix if in your wrapper cookbook you include the [compat_resource cookbook](https://supermarket.chef.io/cookbooks/compat_resource).

[2017-04-01 15:31] zanzan42 commented on #316
Thanks for the update. Unfortunately, 12.7+ won't help me, as the AWS OpsWorks Stacks product is Chef 12.2. That's one of the reasons why I had to go through a dependency chain validation exercise and make sure that everything was set to a version with 12.1+ compatibility. But good to know I found a real thing.

[2017-04-01 18:26] EasyAsABC123 commented on #316
@zanzan42 you should be able to still use it with the compat_resource cookbook as stated by @iennae

[2017-04-01 19:12] zanzan42 commented on #316
I'll give that a try. I already have compat_resource included by berkshelf from other cookbook dependencies, but that has not allowed me to run any other cookbook versions with Chef version requirements above 12.2. I presume that's because my wrapper cookbook must have its own depends statement on compat_resource, but given the nature of AWS OpsWorks Stacks I'm not sure whether the version compati

[2017-04-03 04:36] neilfrawley opened #321 "mime types are not deleted"
### Cookbook version
iis 5.1.0

### Chef-client version
12.19.36

### Platform Details
Windows Server 2012 R2

### Scenario:
When trying to use the _iis_root_ resource and the _delete_mime_maps_ property the mime types do not get deleted, but the Chef run reports no error.

### Steps to Reproduce:
In metadata.rb in a cookbook specify;
depends 'iis', '~> 5.1.0'

In a recipe specify this code;
[code

[2017-04-03 15:24] EasyAsABC123 commented on #321
Creating inspec tests for this so we can validate the code and fix if necessary.  Sorry for the delay in communication